Repository openshift-pipelines/tektoncd-hub: changes, and which Tekton pipelines are due for each by the changed paths.
All: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

tektoncd-hub-main-hub-api-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-main/hub-api:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-hub-main-hub-ui-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-main/hub-ui:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-hub-main-hub-ui-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-main/hub-ui:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/hub-ui.Dockerfile
  ...

tektoncd-hub-next-hub-ui-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-next/hub-ui:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-hub-next-hub-ui-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-next/hub-ui:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/hub-ui.Dockerfile
  ...

Update rpms lock file and ubi.repo
  .konflux/rpms/rpms.lock.yaml
  .konflux/rpms/ubi.repo
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Update api.Dockerfile
  .konflux/dockerfiles/api.Dockerfile
Due: none

Update nodejs image to node22
  .konflux/dockerfiles/ui.Dockerfile
Due: none

[bot:next] update konflux configuration
  .tekton/tektoncd-hub-next-api-push.yaml
  .tekton/tektoncd-hub-next-db-migration-push.yaml
  .tekton/tektoncd-hub-next-ui-push.yaml
Due: none

update hub ubi image
  .konflux/dockerfiles/api.Dockerfile
  .konflux/dockerfiles/db-migration.Dockerfile
Due: none

trigger build
  .konflux/rpms/rpms.in.yaml
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

update rpm lock file
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Update ui.Dockerfile
  .konflux/dockerfiles/ui.Dockerfile
Due: none

[bot] Update release-v1.20.x from tektoncd/hub to 249e2ab3ad60600e7db078651c64bec2b85d7b87
  upstream/images/api.Dockerfile
  upstream/images/db.Dockerfile
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:main] update konflux configuration
  .github/workflows/update-sources-release-v1.20.x.yaml
Due: none

[bot] Update release-v1.20.x from tektoncd/hub to e22c108769c3d9b4ed4171e32c8a6ab3bd2e980e
  head
  upstream/api/pkg/cli/hub/get_resource.go
  upstream/api/pkg/cli/hub/get_resource_test.go
  upstream/config/01-db/10-db-migration.yaml
  upstream/config/02-api/22-api-deployment.yaml
  upstream/config/03-ui/31-ui-deployment.yaml
  upstream/config/06-swagger/00-config/01-swagger-deployment.yaml
  upstream/go.mod
  upstream/go.sum
  upstream/images/ui.Dockerfile
  upstream/ui/image/nginx.conf
  upstream/ui/image/start.sh
  upstream/ui/package-lock.json
  upstream/vendor/github.com/Masterminds/semver/v3/.gitignore
  upstream/vendor/github.com/Masterminds/semver/v3/.golangci.yml
  upstream/vendor/github.com/Masterminds/semver/v3/CHANGELOG.md
  upstream/vendor/github.com/Masterminds/semver/v3/LICENSE.txt
  upstream/vendor/github.com/Masterminds/semver/v3/Makefile
  upstream/vendor/github.com/Masterminds/semver/v3/README.md
  upstream/vendor/github.com/Masterminds/semver/v3/SECURITY.md
  upstream/vendor/github.com/Masterminds/semver/v3/collection.go
  upstream/vendor/github.com/Masterminds/semver/v3/constraints.go
  upstream/vendor/github.com/Masterminds/semver/v3/doc.go
  upstream/vendor/github.com/Masterminds/semver/v3/version.go
  upstream/vendor/modules.txt
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update release-v1.20.x from tektoncd/hub to 249e2ab3ad60600e7db078651c64bec2b85d7b87
  head
  upstream/api/pkg/cli/hub/get_resource.go
  upstream/api/pkg/cli/hub/get_resource_test.go
  upstream/config/01-db/10-db-migration.yaml
  upstream/config/02-api/22-api-deployment.yaml
  upstream/config/03-ui/31-ui-deployment.yaml
  upstream/config/06-swagger/00-config/01-swagger-deployment.yaml
  upstream/go.mod
  upstream/go.sum
  upstream/images/ui.Dockerfile
  upstream/ui/image/nginx.conf
  upstream/ui/image/start.sh
  upstream/ui/package-lock.json
  upstream/vendor/github.com/Masterminds/semver/v3/.gitignore
  upstream/vendor/github.com/Masterminds/semver/v3/.golangci.yml
  upstream/vendor/github.com/Masterminds/semver/v3/CHANGELOG.md
  upstream/vendor/github.com/Masterminds/semver/v3/LICENSE.txt
  upstream/vendor/github.com/Masterminds/semver/v3/Makefile
  upstream/vendor/github.com/Masterminds/semver/v3/README.md
  upstream/vendor/github.com/Masterminds/semver/v3/SECURITY.md
  upstream/vendor/github.com/Masterminds/semver/v3/collection.go
  upstream/vendor/github.com/Masterminds/semver/v3/constraints.go
  upstream/vendor/github.com/Masterminds/semver/v3/doc.go
  upstream/vendor/github.com/Masterminds/semver/v3/version.go
  upstream/vendor/modules.txt
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

revert changes for hub 1.22.5
  .konflux/dockerfiles/ui.Dockerfile
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-hub-next-ui
  .tekton/tektoncd-hub-next-ui-pull-request.yaml
  .tekton/tektoncd-hub-next-ui-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-hub-next-api
  .tekton/tektoncd-hub-next-api-pull-request.yaml
  .tekton/tektoncd-hub-next-api-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-hub-next-db-migration
  .tekton/tektoncd-hub-next-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-next-db-migration-push.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/update-sources-release-v1.21.x.yaml
Due: none

[bot:next] update konflux configuration
  .tekton/tektoncd-hub-next-api-pull-request.yaml
  .tekton/tektoncd-hub-next-api-push.yaml
  .tekton/tektoncd-hub-next-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-next-db-migration-push.yaml
  .tekton/tektoncd-hub-next-ui-pull-request.yaml
  .tekton/tektoncd-hub-next-ui-push.yaml
Due: none

[bot:release-v1.18.x] update konflux configuration
  .tekton/tektoncd-hub-1-18-api-pull-request.yaml
  .tekton/tektoncd-hub-1-18-api-push.yaml
  .tekton/tektoncd-hub-1-18-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-18-db-migration-push.yaml
  .tekton/tektoncd-hub-1-18-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-18-ui-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-hub-1-21-api
  .tekton/tektoncd-hub-1-21-api-pull-request.yaml
  .tekton/tektoncd-hub-1-21-api-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-hub-1-21-db-migration
  .tekton/tektoncd-hub-1-21-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-21-db-migration-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-hub-1-21-ui
  .tekton/tektoncd-hub-1-21-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-21-ui-push.yaml
Due: none

Remove 1.20 files and fix version
  .konflux/dockerfiles/api.Dockerfile
  .konflux/dockerfiles/db-migration.Dockerfile
  .konflux/dockerfiles/ui.Dockerfile
  .tekton/tektoncd-hub-1-20-api-pull-request.yaml
  .tekton/tektoncd-hub-1-20-api-push.yaml
  .tekton/tektoncd-hub-1-20-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-20-db-migration-push.yaml
  .tekton/tektoncd-hub-1-20-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-20-ui-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-hub-1-21-db-migration
  .tekton/tektoncd-hub-1-21-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-21-db-migration-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-hub-1-21-api
  .tekton/tektoncd-hub-1-21-api-pull-request.yaml
  .tekton/tektoncd-hub-1-21-api-push.yaml
Due: none

Path conditions:
  tektoncd-hub-main-hub-api-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-api.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-api-pull-request.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-main-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-main-hub-ui-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-next-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-next-hub-ui-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
