Repository openshift-pipelines/tektoncd-hub: changes, and which Tekton pipelines are due for each by the changed paths.
All: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Path conditions:
  tektoncd-hub-main-hub-api-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-api.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-api-pull-request.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-main-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-main-hub-ui-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-next-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-next-hub-ui-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)

[bot:release-v1.22.x] update konflux configuration
  .github/workflows/update-sources.yaml
  .tekton/tektoncd-hub-1-22-api-pull-request.yaml
  .tekton/tektoncd-hub-1-22-api-push.yaml
  .tekton/tektoncd-hub-1-22-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-22-db-migration-push.yaml
  .tekton/tektoncd-hub-1-22-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-22-ui-push.yaml
Due: none

[bot:next] update konflux configuration
  .github/workflows/update-sources.yaml
  .tekton/tektoncd-hub-next-api-pull-request.yaml
  .tekton/tektoncd-hub-next-api-push.yaml
  .tekton/tektoncd-hub-next-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-next-db-migration-push.yaml
  .tekton/tektoncd-hub-next-ui-pull-request.yaml
  .tekton/tektoncd-hub-next-ui-push.yaml
Due: none

[bot:release-v1.21.x] update konflux configuration
  .github/workflows/update-sources.yaml
  .tekton/tektoncd-hub-1-21-api-pull-request.yaml
  .tekton/tektoncd-hub-1-21-api-push.yaml
  .tekton/tektoncd-hub-1-21-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-21-db-migration-push.yaml
  .tekton/tektoncd-hub-1-21-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-21-ui-push.yaml
Due: none

Delete .konflux/patches/00-hub-banner.patch
  .konflux/patches/00-hub-banner.patch
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update release-v1.21.x from openshift-pipelines/hub to e3211b78923f9503b25c3eddf74947dc19769530
  head
  upstream/swagger/package-lock.json
  upstream/ui/package-lock.json
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:release-v1.20.x] update konflux configuration
  .github/workflows/update-sources.yaml
  .tekton/tektoncd-hub-1-20-api-pull-request.yaml
  .tekton/tektoncd-hub-1-20-api-push.yaml
  .tekton/tektoncd-hub-1-20-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-20-db-migration-push.yaml
  .tekton/tektoncd-hub-1-20-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-20-ui-push.yaml
Due: none

[bot] Update next from openshift-pipelines/hub to e3211b78923f9503b25c3eddf74947dc19769530
  head
  upstream/config/00-init/03-db-deployment.yaml
  upstream/swagger/package-lock.json
  upstream/swagger/package.json
  upstream/ui/image/config-js.conf
  upstream/ui/package-lock.json
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:release-v1.18.x] update konflux configuration
  .github/workflows/update-sources.yaml
  .tekton/tektoncd-hub-1-18-api-pull-request.yaml
  .tekton/tektoncd-hub-1-18-api-push.yaml
  .tekton/tektoncd-hub-1-18-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-18-db-migration-push.yaml
  .tekton/tektoncd-hub-1-18-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-18-ui-push.yaml
Due: none

[bot:release-v1.15.x] update konflux configuration
  .github/workflows/update-sources.yaml
  .tekton/tektoncd-hub-1-15-api-pull-request.yaml
  .tekton/tektoncd-hub-1-15-api-push.yaml
  .tekton/tektoncd-hub-1-15-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-15-db-migration-push.yaml
  .tekton/tektoncd-hub-1-15-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-15-ui-push.yaml
Due: none

[bot:release-v1.21.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot] Update release-v1.21.x from openshift-pipelines/hub to 974a10662414ac7d7161a44957391230e4efa7cc
  head
  upstream/swagger/package-lock.json
  upstream/ui/package-lock.json
  upstream/ui/package.json
  upstream/ui/src/common/testutils.ts
  upstream/ui/src/components/Footer/__snapshots__/Footer.test.tsx.snap
  upstream/ui/src/components/Yaml/__snapshots__/Yaml.test.tsx.snap
  upstream/ui/src/containers/App/__snapshots__/App.test.tsx.snap
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Update the hub org in update-source-release-v1.21.x
  .github/workflows/update-sources-release-v1.21.x.yaml
Due: none

[bot] Update release-v1.22.x from openshift-pipelines/hub to e3211b78923f9503b25c3eddf74947dc19769530
  head
  upstream/swagger/package-lock.json
  upstream/ui/package-lock.json
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:release-v1.21.x] update konflux configuration
  .tekton/tektoncd-hub-1-21-api-pull-request.yaml
  .tekton/tektoncd-hub-1-21-api-push.yaml
  .tekton/tektoncd-hub-1-21-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-21-db-migration-push.yaml
  .tekton/tektoncd-hub-1-21-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-21-ui-push.yaml
Due: none

[bot:next] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:main] update konflux configuration
  .github/renovate.json
Due: none

[bot] Update next from openshift-pipelines/hub to 974a10662414ac7d7161a44957391230e4efa7cc
  head
  upstream/swagger/package-lock.json
  upstream/ui/package-lock.json
  upstream/ui/package.json
  upstream/ui/src/common/testutils.ts
  upstream/ui/src/components/Footer/__snapshots__/Footer.test.tsx.snap
  upstream/ui/src/components/Yaml/__snapshots__/Yaml.test.tsx.snap
  upstream/ui/src/containers/App/__snapshots__/App.test.tsx.snap
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push
