Repository openshift-pipelines/tektoncd-hub: changes, and which Tekton pipelines are due for each by the changed paths.
All: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Path conditions:
  tektoncd-hub-main-hub-api-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-api.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-api-pull-request.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-main-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-main-hub-ui-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-next-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-next-hub-ui-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)

[bot:next] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:release-v1.20.x] update konflux configuration
  .tekton/tektoncd-hub-1-20-api-push.yaml
  .tekton/tektoncd-hub-1-20-db-migration-push.yaml
  .tekton/tektoncd-hub-1-20-ui-push.yaml
Due: none

[bot:release-v1.21.x] update konflux configuration
  .tekton/tektoncd-hub-1-21-api-push.yaml
  .tekton/tektoncd-hub-1-21-db-migration-push.yaml
  .tekton/tektoncd-hub-1-21-ui-push.yaml
Due: none

rebuild: trigger image rebuild 2026-06-11T14:51:49Z
  .konflux/patches/.placeholder
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update release-v1.22.x from openshift-pipelines/hub:release-v1.23.10 to c79258f31206144684357447b12621e2a67338a7
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

rebuild: trigger image rebuild 2026-06-12T08:09:17Z
  .konflux/patches/.placeholder
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

rebuild: trigger image rebuild 2026-06-12T08:36:01Z
  .konflux/patches/.placeholder
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

rebuild: trigger image rebuild 2026-06-12T09:10:03Z
  .konflux/patches/.placeholder
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:release-v1.22.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:release-v1.23.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:release-v1.22.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
Due: none

[bot] Update release-v1.23.x from openshift-pipelines/hub:release-v1.24.1 to a84deebc8e7e490af8f3c2346a15cbf266c23499
  head
  upstream/api/pkg/cli/cmd/check_upgrade/check_uprade.go
  upstream/api/pkg/cli/cmd/downgrade/downgrade.go
  upstream/api/pkg/cli/cmd/get/get.go
  upstream/api/pkg/cli/cmd/info/info.go
  upstream/api/pkg/cli/cmd/install/install.go
  upstream/api/pkg/cli/cmd/reinstall/reinstall.go
  upstream/api/pkg/cli/cmd/root.go
  upstream/api/pkg/cli/cmd/search/search.go
  upstream/api/pkg/cli/cmd/upgrade/upgrade.go
  upstream/go.mod
  upstream/images/api.Dockerfile
  upstream/images/db.Dockerfile
  upstream/swagger/package-lock.json
  upstream/ui/package-lock.json
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

rebuild: trigger image rebuild 2026-06-16T12:07:51Z
  .konflux/patches/.placeholder
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:release-v1.21.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
  .konflux/dockerfiles/api.Dockerfile
  .konflux/dockerfiles/db-migration.Dockerfile
  .konflux/dockerfiles/ui.Dockerfile
  .tekton/tektoncd-hub-1-21-api-pull-request.yaml
  .tekton/tektoncd-hub-1-21-api-push.yaml
  .tekton/tektoncd-hub-1-21-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-21-db-migration-push.yaml
  .tekton/tektoncd-hub-1-21-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-21-ui-push.yaml
Due: none

[bot] Update release-v1.21.x from openshift-pipelines/hub:release-v1.23.11 to 4f994d25d33d0f1e28442e0aec9b3a44d75fa71c
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:release-v1.22.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
  .konflux/dockerfiles/api.Dockerfile
  .konflux/dockerfiles/db-migration.Dockerfile
  .konflux/dockerfiles/ui.Dockerfile
  .tekton/tektoncd-hub-1-22-api-pull-request.yaml
  .tekton/tektoncd-hub-1-22-api-push.yaml
  .tekton/tektoncd-hub-1-22-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-22-db-migration-push.yaml
  .tekton/tektoncd-hub-1-22-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-22-ui-push.yaml
Due: none

[bot:release-v1.21.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

update UI dockerfile base image to use nginx-124
  .konflux/dockerfiles/ui.Dockerfile
Due: none

Update .placeholder
  .konflux/patches/.placeholder
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Add placeholder file with 'TEST' content
  .konflux/patches/.placeholder
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Update UI docker file to use ubi10 images
  .github/workflows/.placeholder
  .konflux/dockerfiles/.placeholder
  .konflux/dockerfiles/ui.Dockerfile
Due: none

update ui dockerfile base image
  .konflux/dockerfiles/ui.Dockerfile
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-hub-1-24-ui
  .tekton/tektoncd-hub-1-24-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-24-ui-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-hub-1-24-db-migration
  .tekton/tektoncd-hub-1-24-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-24-db-migration-push.yaml
Due: none
