Repository openshift-pipelines/tektoncd-hub: changes, and which Tekton pipelines are due for each by the changed paths.
All: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

tektoncd-hub-main-hub-api-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-main/hub-api:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-hub-main-hub-ui-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-main/hub-ui:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-hub-main-hub-ui-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-main/hub-ui:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/hub-ui.Dockerfile
  ...

tektoncd-hub-next-hub-ui-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-next/hub-ui:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-hub-next-hub-ui-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-next/hub-ui:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/hub-ui.Dockerfile
  ...

[bot:main] update konflux configuration
  .github/workflows/update-sources-release-v1.21.x.yaml
Due: none

[bot] Update release-v1.21.x from tektoncd/hub to 18f712c22b6be89f9acee5dcc4d08f3cd24d6b04
  head
  upstream/config/00-init/03-db-deployment.yaml
  upstream/swagger/package-lock.json
  upstream/swagger/package.json
  upstream/ui/package-lock.json
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:release-v1.22.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
  .tekton/tektoncd-hub-1-22-api-pull-request.yaml
  .tekton/tektoncd-hub-1-22-api-push.yaml
  .tekton/tektoncd-hub-1-22-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-22-db-migration-push.yaml
  .tekton/tektoncd-hub-1-22-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-22-ui-push.yaml
Due: none

Remove static config.js
  .konflux/dockerfiles/ui.Dockerfile
Due: none

[bot] Update release-v1.21.x from tektoncd/hub to aecd523f0abd6a9333c7582f9eeb529bfaf5964c
  head
  upstream/ui/image/config-js.conf
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Add hub deprecation banner patch
  .konflux/patches/00-hub-banner.patch
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Copy static nginx fragment to nginx server.conf
  .konflux/dockerfiles/ui.Dockerfile
Due: none

[bot:main] update konflux configuration
  .github/renovate.json
  .github/workflows/auto-merge-upstream-next.yaml
  .github/workflows/auto-merge-upstream-release-v1.16.x.yaml
  .github/workflows/auto-merge-upstream-release-v1.17.x.yaml
  .github/workflows/auto-merge-upstream-release-v1.19.x.yaml
  .github/workflows/auto-merge-upstream-release-v1.20.x.yaml
  .github/workflows/auto-merge-upstream-release-v1.21.x.yaml
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources-next.yaml
  .github/workflows/update-sources-release-v0.16.x.yaml
  .github/workflows/update-sources-release-v1.16.x.yaml
  .github/workflows/update-sources-release-v1.17.x.yaml
  .github/workflows/update-sources-release-v1.19.x.yaml
  .github/workflows/update-sources-release-v1.21.x.yaml
  .github/workflows/update-sources.yaml
  .tekton/tektoncd-hub-next-api-pull-request.yaml
  .tekton/tektoncd-hub-next-api-push.yaml
  .tekton/tektoncd-hub-next-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-next-db-migration-push.yaml
  .tekton/tektoncd-hub-next-ui-pull-request.yaml
  .tekton/tektoncd-hub-next-ui-push.yaml
Due: none

[bot:release-v1.22.x] update konflux configuration
  .github/workflows/update-sources.yaml
  .tekton/tektoncd-hub-1-22-api-pull-request.yaml
  .tekton/tektoncd-hub-1-22-api-push.yaml
  .tekton/tektoncd-hub-1-22-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-22-db-migration-push.yaml
  .tekton/tektoncd-hub-1-22-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-22-ui-push.yaml
Due: none

[bot:next] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
  .tekton/tektoncd-hub-next-api-pull-request.yaml
  .tekton/tektoncd-hub-next-api-push.yaml
  .tekton/tektoncd-hub-next-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-next-db-migration-push.yaml
  .tekton/tektoncd-hub-next-ui-pull-request.yaml
  .tekton/tektoncd-hub-next-ui-push.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/update-sources-release-v1.19.x.yaml
Due: none

[bot] Update release-v1.19.x from tektoncd/hub to 41f6ab3899f8a9b1764ee04db07fe5ddb1c29960
  head
  upstream/swagger/package-lock.json
  upstream/ui/package-lock.json
  upstream/ui/src/components/Yaml/__snapshots__/Yaml.test.tsx.snap
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Update base image SHA
  .konflux/dockerfiles/api.Dockerfile
  .konflux/dockerfiles/db-migration.Dockerfile
  .konflux/dockerfiles/ui.Dockerfile
Due: none

Update rpm lock for hub
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update release-v1.19.x from tektoncd/hub to 41f6ab3899f8a9b1764ee04db07fe5ddb1c29960
  upstream/images/api.Dockerfile
  upstream/images/db.Dockerfile
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update next from tektoncd/hub to d10d0fd4aa8ce60583f6978516f45b74d4a80603
  upstream/images/api.Dockerfile
  upstream/images/db.Dockerfile
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:main] update konflux configuration
  .github/workflows/update-sources-release-v1.20.x.yaml
Due: none

[bot] Update release-v1.20.x from tektoncd/hub to b0668bb94986bad7d2c27c5b8a77a3c5e900b4f9
  head
  upstream/api/pkg/cli/hub/get_resource.go
  upstream/api/pkg/cli/hub/get_resource_test.go
  upstream/config/01-db/10-db-migration.yaml
  upstream/config/02-api/22-api-deployment.yaml
  upstream/config/03-ui/31-ui-deployment.yaml
  upstream/config/06-swagger/00-config/01-swagger-deployment.yaml
  upstream/go.mod
  upstream/go.sum
  upstream/images/ui.Dockerfile
  upstream/swagger/package-lock.json
  upstream/ui/image/config-js.conf
  upstream/ui/image/nginx.conf
  upstream/ui/image/start.sh
  upstream/ui/package-lock.json
  upstream/vendor/github.com/Masterminds/semver/v3/.gitignore
  upstream/vendor/github.com/Masterminds/semver/v3/.golangci.yml
  upstream/vendor/github.com/Masterminds/semver/v3/CHANGELOG.md
  upstream/vendor/github.com/Masterminds/semver/v3/LICENSE.txt
  upstream/vendor/github.com/Masterminds/semver/v3/Makefile
  upstream/vendor/github.com/Masterminds/semver/v3/README.md
  upstream/vendor/github.com/Masterminds/semver/v3/SECURITY.md
  upstream/vendor/github.com/Masterminds/semver/v3/collection.go
  upstream/vendor/github.com/Masterminds/semver/v3/constraints.go
  upstream/vendor/github.com/Masterminds/semver/v3/doc.go
  upstream/vendor/github.com/Masterminds/semver/v3/version.go
  upstream/vendor/modules.txt
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Update image sha in api.Dockerfile
  .konflux/dockerfiles/api.Dockerfile
Due: none

Path conditions:
  tektoncd-hub-main-hub-api-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-api.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-api-pull-request.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-main-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-main-hub-ui-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-next-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-next-hub-ui-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
