Repository openshift-pipelines/tektoncd-hub: changes, and which Tekton pipelines are due for each by the changed paths.
All: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Path conditions:
  tektoncd-hub-main-hub-api-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-api.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-api-pull-request.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-main-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-main-hub-ui-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-next-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-next-hub-ui-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)

[bot] update konflux configuration
  .konflux/tekton/next/.tekton/tektoncd-hub-next-db-migration-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-hub-next-db-migration-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-hub-next-hub-api-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-hub-next-hub-api-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-hub-next-hub-ui-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-hub-next-hub-ui-push.yaml
  .tekton/tektoncd-hub-main-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-main-db-migration-push.yaml
  .tekton/tektoncd-hub-main-hub-api-pull-request.yaml
  .tekton/tektoncd-hub-main-hub-api-push.yaml
  .tekton/tektoncd-hub-main-hub-ui-pull-request.yaml
  .tekton/tektoncd-hub-main-hub-ui-push.yaml
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push

[bot:main] update konflux configuration
  .konflux/tekton/next/.tekton/tektoncd-hub-next-db-migration-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-hub-next-db-migration-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-hub-next-hub-api-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-hub-next-hub-api-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-hub-next-hub-ui-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-hub-next-hub-ui-push.yaml
  .tekton/tektoncd-hub-main-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-main-db-migration-push.yaml
  .tekton/tektoncd-hub-main-hub-api-pull-request.yaml
  .tekton/tektoncd-hub-main-hub-api-push.yaml
  .tekton/tektoncd-hub-main-hub-ui-pull-request.yaml
  .tekton/tektoncd-hub-main-hub-ui-push.yaml
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push

[bot:next] update konflux configuration
  .github/workflows/update-sources.main.yaml
  .tekton/tektoncd-hub-next-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-next-db-migration-push.yaml
  .tekton/tektoncd-hub-next-hub-api-pull-request.yaml
  .tekton/tektoncd-hub-next-hub-api-push.yaml
  .tekton/tektoncd-hub-next-hub-ui-pull-request.yaml
  .tekton/tektoncd-hub-next-hub-ui-push.yaml
Due: tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Delete docker-build*.yaml files as this yaml is moved to a common location in operator repo.
  .tekton/docker-build-ta.yaml
  .tekton/docker-build.yaml
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update main from tektoncd/hub to f1fb5c3e48534b503ca6d283a8a6edd70bd3d811
  head
  upstream/go.sum
  upstream/swagger/package-lock.json
  upstream/swagger/package.json
  upstream/ui/package-lock.json
  upstream/ui/package.json
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Delete docker-build*.yaml files as this yaml is moved to a common location in operator repo.
  .tekton/docker-build-ta.yaml
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

added dummy file to start konflux workflow
  .konflux/patches/.placeholder
  upstream/dummy
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update main from tektoncd/hub to 3c1644bf95428a5006ba01f09db8e2317a08a4c4
  head
  upstream/go.mod
  upstream/go.sum
  upstream/swagger/package-lock.json
  upstream/swagger/package.json
  upstream/ui/package-lock.json
  upstream/ui/package.json
  upstream/vendor/modules.txt
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update next from tektoncd/hub to 0ea032d66031e36799cbbb08f0825c8f848faab8
  upstream/dummy
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:main] update konflux configuration
  .konflux/main/tests.yaml
  .konflux/next/tests.yaml
Due: none

[bot] Update main from tektoncd/hub to 1d86715caf1899aa9fee3310227ecf1b32443882
  head
  upstream/swagger/package-lock.json
  upstream/swagger/package.json
  upstream/ui/package-lock.json
  upstream/ui/package.json
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:main] update konflux configuration
  .konflux/main/tests-on-push.yaml
  .konflux/next/tests-on-push.yaml
Due: none

update dockerfile and remove unused files
  .github/workflows/auto-merge.main.yaml
  .konflux/dockerfiles/db-migration.Dockerfile
  .konflux/dockerfiles/hub-api.Dockerfile
  .konflux/dockerfiles/hub-ui.Dockerfile
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:main] update konflux configuration
  .github/workflows/update-sources.1.18.yaml
  .konflux/1.18/application.yaml
  .konflux/1.18/component-db-migration.yaml
  .konflux/1.18/component-hub-api.yaml
  .konflux/1.18/component-hub-ui.yaml
  .konflux/1.18/image-db-migration.yaml
  .konflux/1.18/image-hub-api.yaml
  .konflux/1.18/image-hub-ui.yaml
  .konflux/1.18/tests.yaml
Due: none

[bot:next] update konflux configuration
  .tekton/tektoncd-hub-next-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-next-db-migration-push.yaml
  .tekton/tektoncd-hub-next-hub-api-pull-request.yaml
  .tekton/tektoncd-hub-next-hub-api-push.yaml
  .tekton/tektoncd-hub-next-hub-ui-pull-request.yaml
  .tekton/tektoncd-hub-next-hub-ui-push.yaml
Due: tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Red Hat Konflux update tektoncd-hub-1-18-db-migration Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-hub-1-18-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-18-db-migration-push.yaml
Due: none

Red Hat Konflux update tektoncd-hub-1-18-hub-api Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-hub-1-18-hub-api-pull-request.yaml
  .tekton/tektoncd-hub-1-18-hub-api-push.yaml
Due: none

Red Hat Konflux update tektoncd-hub-1-18-hub-ui Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-hub-1-18-hub-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-18-hub-ui-push.yaml
Due: none

[bot:release-v1.18.x] update konflux configuration
  .tekton/tektoncd-hub-1-18-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-18-db-migration-push.yaml
  .tekton/tektoncd-hub-1-18-hub-api-pull-request.yaml
  .tekton/tektoncd-hub-1-18-hub-api-push.yaml
  .tekton/tektoncd-hub-1-18-hub-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-18-hub-ui-push.yaml
Due: none

nudge pr test for hub
  upstream/ROADMAP.md
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push
