Repository openshift-pipelines/tektoncd-hub: changes, and which Tekton pipelines are due for each by the changed paths.
All: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

tektoncd-hub-main-hub-api-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-main/hub-api:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-hub-main-hub-ui-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-main/hub-ui:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-hub-main-hub-ui-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-main/hub-ui:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/hub-ui.Dockerfile
  ...

tektoncd-hub-next-hub-ui-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-next/hub-ui:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-hub-next-hub-ui-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-next/hub-ui:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/hub-ui.Dockerfile
  ...

[bot] Update release-v1.23.x from openshift-pipelines/hub:release-v1.24.5 to 48e48064a92c779a2b8c1b2bbd2122e80a557c4e
  head
  upstream/api/.env.dev
  upstream/api/pkg/auth/base.go
  upstream/api/pkg/auth/base_test.go
  upstream/api/pkg/auth/service/auth.go
  upstream/api/pkg/auth/service/auth_test.go
  upstream/api/pkg/auth/service/service.go
  upstream/api/pkg/db/model/model.go
  upstream/api/test/config/env.test
  upstream/config/02-api/20-api-secret.yaml
  upstream/config/02-api/22-api-deployment.yaml
  upstream/docs/DEPLOYMENT.md
  upstream/docs/DEVELOPMENT.md
  upstream/go.mod
  upstream/images/api.Dockerfile
  upstream/images/db.Dockerfile
  upstream/swagger/package-lock.json
  upstream/ui/package-lock.json
  upstream/ui/package.json
  upstream/ui/src/api/index.ts
  upstream/ui/src/common/params.ts
  upstream/ui/src/containers/ParseUrl/ParseUrl.test.tsx
  upstream/ui/src/containers/ParseUrl/index.tsx
  upstream/ui/src/store/auth.test.ts
  upstream/ui/src/store/auth.ts
  upstream/ui/src/utils/updateUrl.test.ts
  upstream/ui/src/utils/updateUrl.ts
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:release-v1.23.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
Due: none

rebuild: trigger image rebuild 2026-10-08T07:58:18Z
  .konflux/patches/.placeholder
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:release-v1.15.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot] Update release-v1.15.x from openshift-pipelines/hub:release-v1.17.10 to 01617be89083e6caf09ca9fe09178e835bcb56c2
  head
  upstream/go.mod
  upstream/go.sum
  upstream/swagger/package-lock.json
  upstream/ui/package-lock.json
  upstream/vendor/google.golang.org/genproto/googleapis/api/httpbody/httpbody.pb.go
  upstream/vendor/google.golang.org/genproto/googleapis/rpc/status/status.pb.go
  upstream/vendor/google.golang.org/grpc/balancer/balancer.go
  upstream/vendor/google.golang.org/grpc/balancer/pickfirst/pickfirst.go
  upstream/vendor/google.golang.org/grpc/clientconn.go
  upstream/vendor/google.golang.org/grpc/dialoptions.go
  upstream/vendor/google.golang.org/grpc/encoding/encoding.go
  upstream/vendor/google.golang.org/grpc/experimental/balancer/weight/weight.go
  upstream/vendor/google.golang.org/grpc/experimental/stats/metrics.go
  upstream/vendor/google.golang.org/grpc/health/grpc_health_v1/health_grpc.pb.go
  upstream/vendor/google.golang.org/grpc/internal/envconfig/envconfig.go
  upstream/vendor/google.golang.org/grpc/internal/envconfig/xds.go
  upstream/vendor/google.golang.org/grpc/internal/grpcutil/encode_duration.go
  upstream/vendor/google.golang.org/grpc/internal/mem/buffer_pool.go
  upstream/vendor/google.golang.org/grpc/internal/resolver/config_selector.go
  upstream/vendor/google.golang.org/grpc/internal/stats/labels.go
  upstream/vendor/google.golang.org/grpc/internal/transport/client_stream.go
  upstream/vendor/google.golang.org/grpc/internal/transport/controlbuf.go
  upstream/vendor/google.golang.org/grpc/internal/transport/flowcontrol.go
  upstream/vendor/google.golang.org/grpc/internal/transport/handler_server.go
  upstream/vendor/google.golang.org/grpc/internal/transport/http2_client.go
  upstream/vendor/google.golang.org/grpc/internal/transport/http2_server.go
  upstream/vendor/google.golang.org/grpc/internal/transport/http_util.go
  upstream/vendor/google.golang.org/grpc/internal/transport/internal/internal.go
  upstream/vendor/google.golang.org/grpc/internal/transport/readyreader/raw_conn_linux.go
  upstream/vendor/google.golang.org/grpc/internal/transport/readyreader/raw_conn_nonlinux.go
  upstream/vendor/google.golang.org/grpc/internal/transport/readyreader/ready_reader.go
  upstream/vendor/google.golang.org/grpc/internal/transport/transport.go
  upstream/vendor/google.golang.org/grpc/mem/buffer_slice.go
  upstream/vendor/google.golang.org/grpc/mem/buffers.go
  upstream/vendor/google.golang.org/grpc/rpc_util.go
  upstream/vendor/google.golang.org/grpc/server.go
  upstream/vendor/google.golang.org/grpc/stream.go
  upstream/vendor/modules.txt
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update release-v1.24.x from openshift-pipelines/hub to eb086e1fe36153a7364dd894d6f802ddeccc462f
  head
  upstream/api/pkg/cli/cmd/check_upgrade/check_uprade.go
  upstream/api/pkg/cli/cmd/downgrade/downgrade.go
  upstream/api/pkg/cli/cmd/get/get.go
  upstream/api/pkg/cli/cmd/info/info.go
  upstream/api/pkg/cli/cmd/install/install.go
  upstream/api/pkg/cli/cmd/reinstall/reinstall.go
  upstream/api/pkg/cli/cmd/root.go
  upstream/api/pkg/cli/cmd/search/search.go
  upstream/api/pkg/cli/cmd/upgrade/upgrade.go
  upstream/go.mod
  upstream/images/api.Dockerfile
  upstream/images/db.Dockerfile
  upstream/swagger/package-lock.json
  upstream/ui/package-lock.json
  upstream/ui/src/components/Footer/__snapshots__/Footer.test.tsx.snap
  upstream/ui/src/components/Yaml/__snapshots__/Yaml.test.tsx.snap
  upstream/ui/src/containers/App/__snapshots__/App.test.tsx.snap
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update next from openshift-pipelines/hub to eb086e1fe36153a7364dd894d6f802ddeccc462f
  head
  upstream/api/pkg/cli/cmd/check_upgrade/check_uprade.go
  upstream/api/pkg/cli/cmd/downgrade/downgrade.go
  upstream/api/pkg/cli/cmd/get/get.go
  upstream/api/pkg/cli/cmd/info/info.go
  upstream/api/pkg/cli/cmd/install/install.go
  upstream/api/pkg/cli/cmd/reinstall/reinstall.go
  upstream/api/pkg/cli/cmd/root.go
  upstream/api/pkg/cli/cmd/search/search.go
  upstream/api/pkg/cli/cmd/upgrade/upgrade.go
  upstream/go.mod
  upstream/images/api.Dockerfile
  upstream/images/db.Dockerfile
  upstream/swagger/package-lock.json
  upstream/ui/package-lock.json
  upstream/ui/src/components/Footer/__snapshots__/Footer.test.tsx.snap
  upstream/ui/src/components/Yaml/__snapshots__/Yaml.test.tsx.snap
  upstream/ui/src/containers/App/__snapshots__/App.test.tsx.snap
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update release-v1.21.x from openshift-pipelines/hub:release-v1.23.12 to f7d1f0b9f25b1c9b51d35944903722a671f3338a
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Path conditions:
  tektoncd-hub-main-hub-api-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-api.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-api-pull-request.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-main-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-main-hub-ui-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-next-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-next-hub-ui-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
