Repository openshift-pipelines/tektoncd-hub: changes, and which Tekton pipelines are due for each by the changed paths.
All: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Path conditions:
  tektoncd-hub-main-hub-api-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-api.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-api-pull-request.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-main-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-main-hub-ui-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-next-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-next-hub-ui-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)

Update hub-ui.Dockerfile
  .konflux/dockerfiles/hub-ui.Dockerfile
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:next] update konflux configuration
  .tekton/prow.yaml
Due: none

[bot:release-v1.18.x] update konflux configuration
  .tekton/prow.yaml
Due: none

[bot:main] update konflux configuration
  .tekton/prow.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/update-sources.1.18.yaml
  .github/workflows/update-sources.next.yaml
  .tekton/prow.yaml
Due: none

get latest images for 1.20.0
  upstream/README.md
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update 1.18 from tektoncd/hub to 2dcf5d6f0916d668dca69a762e3921e0cac735e8
  upstream/README.md
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:main] update konflux configuration
  .github/workflows/update-sources.1.18.yaml
  .github/workflows/update-sources.next.yaml
  .konflux/next/component-db-migration.yaml
  .konflux/next/component-hub-api.yaml
  .konflux/next/component-hub-ui.yaml
Due: none

[bot:release-v1.18.x] update konflux configuration
  .DS_Store
  .tekton/tektoncd-hub-next-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-next-db-migration-push.yaml
  .tekton/tektoncd-hub-next-hub-api-pull-request.yaml
  .tekton/tektoncd-hub-next-hub-api-push.yaml
  .tekton/tektoncd-hub-next-hub-ui-pull-request.yaml
  .tekton/tektoncd-hub-next-hub-ui-push.yaml
Due: tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Update .placeholder
  .konflux/patches/.placeholder
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[1.18] Add FIPS compliance config
  .konflux/dockerfiles/db-migration.Dockerfile
  .konflux/dockerfiles/hub-api.Dockerfile
Due: none

[bot:main] update konflux configuration
  .github/workflows/update-sources.1.18.yaml
  .github/workflows/update-sources.next.yaml
  .konflux/1.18/application.yaml
  .konflux/1.18/component-db-migration.yaml
  .konflux/1.18/component-hub-api.yaml
  .konflux/1.18/component-hub-ui.yaml
  .konflux/1.18/image-db-migration.yaml
  .konflux/1.18/image-hub-api.yaml
  .konflux/1.18/image-hub-ui.yaml
  .konflux/1.18/tests.yaml
  .konflux/next/application.yaml
  .konflux/next/component-db-migration.yaml
  .konflux/next/component-hub-api.yaml
  .konflux/next/component-hub-ui.yaml
  .konflux/next/image-db-migration.yaml
  .konflux/next/image-hub-api.yaml
  .konflux/next/image-hub-ui.yaml
  .konflux/next/release-plan.yaml
  .konflux/next/tests.yaml
  .tekton/prow.yaml
  .tekton/tektoncd-hub-main-db-migration-push.yaml
  .tekton/tektoncd-hub-main-hub-api-push.yaml
  .tekton/tektoncd-hub-main-hub-ui-push.yaml
Due: tektoncd-hub-main-hub-ui-on-push

[bot:next] update konflux configuration
  .github/workflows/update-sources.next.yaml
  .konflux/next/application.yaml
  .konflux/next/component-db-migration.yaml
  .konflux/next/component-hub-api.yaml
  .konflux/next/component-hub-ui.yaml
  .konflux/next/image-db-migration.yaml
  .konflux/next/image-hub-api.yaml
  .konflux/next/image-hub-ui.yaml
  .konflux/next/tests.yaml
  .tekton/tektoncd-hub-next-db-migration-push.yaml
  .tekton/tektoncd-hub-next-hub-api-push.yaml
  .tekton/tektoncd-hub-next-hub-ui-push.yaml
Due: tektoncd-hub-next-hub-ui-on-push

[bot:release-v1.18.x] update konflux configuration
  .github/workflows/update-sources.release-v1.18.x.yaml
  .konflux/1.18/application.yaml
  .konflux/1.18/component-db-migration.yaml
  .konflux/1.18/component-hub-api.yaml
  .konflux/1.18/component-hub-ui.yaml
  .konflux/1.18/image-db-migration.yaml
  .konflux/1.18/image-hub-api.yaml
  .konflux/1.18/image-hub-ui.yaml
  .konflux/1.18/tests.yaml
  .tekton/tektoncd-hub-1-18-db-migration-push.yaml
  .tekton/tektoncd-hub-1-18-hub-api-push.yaml
  .tekton/tektoncd-hub-1-18-hub-ui-push.yaml
Due: none

update rpms.lock.yaml to match with latest ec policy
  .konflux/dockerfiles/db-migration.Dockerfile
  .konflux/dockerfiles/hub-api.Dockerfile
  .konflux/rpms/rpms.lock.yaml
  .konflux/rpms/ubi.repo
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Fix build image for api
  .konflux/dockerfiles/hub-api.Dockerfile
Due: none

Add --max-old-space-size=4096 to reduce parallelism in npm build
  .konflux/dockerfiles/hub-ui.Dockerfile
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Add cache clean for ui image
  .konflux/dockerfiles/hub-ui.Dockerfile
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Add computeResources to increase the default memory limit
  .tekton/tektoncd-hub-1-18-hub-ui-push.yaml
Due: none
