Repository openshift-pipelines/tektoncd-hub: changes, and which Tekton pipelines are due for each by the changed paths.
All: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

tektoncd-hub-main-hub-api-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-main/hub-api:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-hub-main-hub-ui-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-main/hub-ui:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-hub-main-hub-ui-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-main/hub-ui:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/hub-ui.Dockerfile
  ...

tektoncd-hub-next-hub-ui-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-next/hub-ui:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-hub-next-hub-ui-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-next/hub-ui:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/hub-ui.Dockerfile
  ...

[bot] Update main from tektoncd/hub to ca8c7217bbab3932b5d2e9ec39f15483e81a1874
  head
  upstream/swagger/package-lock.json
  upstream/swagger/package.json
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:next] update konflux configuration
  .tekton/tektoncd-hub-next-api-pull-request.yaml
  .tekton/tektoncd-hub-next-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-next-ui-pull-request.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/update-sources-next.yaml
Due: none

[bot] Update main from tektoncd/hub to 04d9ce0b365decee81767618a215fe9dccc54860
  head
  upstream/.github/workflows/chatops_retest.yaml
  upstream/.github/workflows/slash.yaml
  upstream/go.mod
  upstream/go.sum
  upstream/images/api.Dockerfile
  upstream/images/db.Dockerfile
  upstream/swagger/package-lock.json
  upstream/swagger/package.json
  upstream/ui/package-lock.json
  upstream/ui/package.json
  upstream/vendor/k8s.io/api/resource/v1alpha3/types.go
  upstream/vendor/k8s.io/api/resource/v1beta1/types.go
  upstream/vendor/modules.txt
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update main from tektoncd/hub to cb2a30fc0b471eae95c2c786122424bdab0d0a05
  head
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/github.com/spf13/cobra/.golangci.yml
  upstream/vendor/github.com/spf13/cobra/README.md
  upstream/vendor/github.com/spf13/cobra/SECURITY.md
  upstream/vendor/github.com/spf13/cobra/command.go
  upstream/vendor/github.com/spf13/cobra/completions.go
  upstream/vendor/github.com/spf13/pflag/README.md
  upstream/vendor/github.com/spf13/pflag/bool_func.go
  upstream/vendor/github.com/spf13/pflag/count.go
  upstream/vendor/github.com/spf13/pflag/errors.go
  upstream/vendor/github.com/spf13/pflag/flag.go
  upstream/vendor/github.com/spf13/pflag/func.go
  upstream/vendor/github.com/spf13/pflag/golangflag.go
  upstream/vendor/github.com/spf13/pflag/ipnet_slice.go
  upstream/vendor/github.com/spf13/pflag/string_to_string.go
  upstream/vendor/github.com/spf13/pflag/text.go
  upstream/vendor/github.com/spf13/pflag/time.go
  upstream/vendor/modules.txt
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:next] update konflux configuration
  .tekton/tektoncd-hub-main-api-pull-request.yaml
  .tekton/tektoncd-hub-main-api-push.yaml
  .tekton/tektoncd-hub-main-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-main-db-migration-push.yaml
  .tekton/tektoncd-hub-main-ui-pull-request.yaml
  .tekton/tektoncd-hub-main-ui-push.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/auto-merge-upstream-main.yaml
  .github/workflows/update-sources-main.yaml
  .tekton/tektoncd-hub-main-api-pull-request.yaml
  .tekton/tektoncd-hub-main-api-push.yaml
  .tekton/tektoncd-hub-main-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-main-db-migration-push.yaml
  .tekton/tektoncd-hub-main-ui-pull-request.yaml
  .tekton/tektoncd-hub-main-ui-push.yaml
Due: none

[bot:main] update konflux configuration
  .github/renovate.json
Due: none

[bot:main] update konflux configuration
  .github/renovate.json
  .github/workflows/auto-merge-upstream-tektoncd-hub.yaml
  .github/workflows/update-sources-tektoncd-hub.yaml
  .tekton/tektoncd-hub-main-api-pull-request.yaml
  .tekton/tektoncd-hub-main-api-push.yaml
  .tekton/tektoncd-hub-main-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-main-db-migration-push.yaml
  .tekton/tektoncd-hub-main-ui-pull-request.yaml
  .tekton/tektoncd-hub-main-ui-push.yaml
Due: none

[bot] Update release-v1.19.x from tektoncd/hub to 8279afd0f3c6863d227694ffce2a53909270cf43
  upstream/images/api.Dockerfile
  upstream/images/db.Dockerfile
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:release-v1.21.x] update konflux configuration
  .tekton/tektoncd-hub-1-21-api-pull-request.yaml
  .tekton/tektoncd-hub-1-21-api-push.yaml
  .tekton/tektoncd-hub-1-21-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-21-db-migration-push.yaml
  .tekton/tektoncd-hub-1-21-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-21-ui-push.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/auto-merge-upstream-release-v1.21.x.yaml
  .github/workflows/update-sources-release-v1.21.x.yaml
Due: none

Update api.Dockerfile
  .konflux/dockerfiles/api.Dockerfile
Due: none

Update db-migration.Dockerfile
  .konflux/dockerfiles/db-migration.Dockerfile
Due: none

Update the API dockerfile
  .konflux/dockerfiles/api.Dockerfile
Due: none

Update rpms lock file and ubi.repo
  .konflux/rpms/rpms.lock.yaml
  .konflux/rpms/ubi.repo
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Path conditions:
  tektoncd-hub-main-hub-api-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-api.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-api-pull-request.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-main-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-main-hub-ui-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-next-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-next-hub-ui-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
