Repository openshift-pipelines/tektoncd-hub: changes, and which Tekton pipelines are due for each by the changed paths.
All: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

tektoncd-hub-main-hub-api-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-main/hub-api:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-hub-main-hub-ui-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-main/hub-ui:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-hub-main-hub-ui-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-main/hub-ui:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/hub-ui.Dockerfile
  ...

tektoncd-hub-next-hub-ui-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-next/hub-ui:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-hub-next-hub-ui-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-next/hub-ui:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/hub-ui.Dockerfile
  ...

Red Hat Konflux kflux-prd-rh02 purge tektoncd-hub-1-21-ui
  .tekton/tektoncd-hub-1-21-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-21-ui-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-hub-1-21-api
  .tekton/tektoncd-hub-1-21-api-pull-request.yaml
  .tekton/tektoncd-hub-1-21-api-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-hub-1-21-db-migration
  .tekton/tektoncd-hub-1-21-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-21-db-migration-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-hub-1-21-ui
  .tekton/tektoncd-hub-1-21-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-21-ui-push.yaml
Due: none

Remove next files
  .tekton/tektoncd-hub-next-api-pull-request.yaml
  .tekton/tektoncd-hub-next-api-push.yaml
  .tekton/tektoncd-hub-next-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-next-db-migration-push.yaml
  .tekton/tektoncd-hub-next-ui-pull-request.yaml
  .tekton/tektoncd-hub-next-ui-push.yaml
Due: none

Update rpms files
  .konflux/rpms/rpms.lock.yaml
  .konflux/rpms/ubi.repo
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Update lock files
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Resolve read-only file system error for config.js generation
  .konflux/dockerfiles/ui.Dockerfile
Due: none

[bot:main] update konflux configuration
  .github/workflows/update-sources-release-v1.21.x.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/update-sources-next.yaml
Due: none

[bot] Update release-v1.21.x from tektoncd/hub to cb34cda7d536740d94143c407b1cfb2301c45412
  upstream/images/api.Dockerfile
  upstream/images/db.Dockerfile
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update next from tektoncd/hub to cb34cda7d536740d94143c407b1cfb2301c45412
  upstream/images/api.Dockerfile
  upstream/images/db.Dockerfile
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update release-v1.20.x from tektoncd/hub to 249e2ab3ad60600e7db078651c64bec2b85d7b87
  upstream/images/api.Dockerfile
  upstream/images/db.Dockerfile
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Path conditions:
  tektoncd-hub-main-hub-api-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-api.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-api-pull-request.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-main-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-main-hub-ui-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-next-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-next-hub-ui-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
