Repository openshift-pipelines/tektoncd-hub: changes, and which Tekton pipelines are due for each by the changed paths.
All: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Path conditions:
  tektoncd-hub-main-hub-api-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-api.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-api-pull-request.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-main-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-main-hub-ui-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-next-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-next-hub-ui-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)

[bot] Update release-v1.20.x from tektoncd/hub to f28e4770d75272ff0131959f805b4ea32171b4ac
  head
  upstream/config/00-init/03-db-deployment.yaml
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Update rpms lock file and ubi.repo
  .konflux/rpms/rpms.lock.yaml
  .konflux/rpms/ubi.repo
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

update ubi digest
  .konflux/dockerfiles/api.Dockerfile
  .konflux/rpms/ubi.repo
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:release-v1.22.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .konflux/dockerfiles/api.Dockerfile
  .konflux/dockerfiles/db-migration.Dockerfile
  .konflux/dockerfiles/ui.Dockerfile
Due: none

chore: trigger rebuild 2026-02-14
  .konflux/dockerfiles/api.Dockerfile
  .konflux/dockerfiles/db-migration.Dockerfile
  .konflux/dockerfiles/ui.Dockerfile
Due: none

[bot] Update next from tektoncd/hub to 6aa4048b4bfbbc880d88f4f175110e69925f070c
  head
  upstream/config/00-init/03-db-deployment.yaml
  upstream/swagger/package-lock.json
  upstream/swagger/package.json
  upstream/ui/image/config-js.conf
  upstream/ui/package-lock.json
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update next from tektoncd/hub to d10d0fd4aa8ce60583f6978516f45b74d4a80603
  head
  upstream/config/00-init/03-db-deployment.yaml
  upstream/swagger/package-lock.json
  upstream/swagger/package.json
  upstream/ui/image/config-js.conf
  upstream/ui/package-lock.json
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Fix EC violations: migrate from nginx-124 to nginx-126
  .konflux/dockerfiles/ui.Dockerfile
Due: none

fix(ec): upgrade builder to nodejs-20 (fix deprecated-image-check)
  .konflux/dockerfiles/ui.Dockerfile
Due: none
