Repository openshift-pipelines/tektoncd-hub: changes, and which Tekton pipelines are due for each by the changed paths.
All: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

tektoncd-hub-main-hub-api-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-main/hub-api:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-hub-main-hub-ui-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-main/hub-ui:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-hub-main-hub-ui-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-main/hub-ui:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/hub-ui.Dockerfile
  ...

tektoncd-hub-next-hub-ui-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-next/hub-ui:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-hub-next-hub-ui-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-next/hub-ui:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/hub-ui.Dockerfile
  ...

[bot:release-v1.15.x] update konflux configuration
  .tekton/tektoncd-hub-1-15-api-pull-request.yaml
  .tekton/tektoncd-hub-1-15-api-push.yaml
  .tekton/tektoncd-hub-1-15-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-15-db-migration-push.yaml
  .tekton/tektoncd-hub-1-15-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-15-ui-push.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/update-sources-release-v1.15.x.yaml
Due: none

[bot] Update release-v1.15.x from openshift-pipelines/hub to b720f92d46bee71a1e2b2ba17941227eeab27200
  head
  upstream/swagger/package-lock.json
  upstream/swagger/package.json
  upstream/ui/package-lock.json
  upstream/ui/src/common/testutils.ts
  upstream/ui/src/components/Footer/__snapshots__/Footer.test.tsx.snap
  upstream/ui/src/containers/App/__snapshots__/App.test.tsx.snap
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:release-v1.20.x] update konflux configuration
  .tekton/tektoncd-hub-1-20-api-pull-request.yaml
  .tekton/tektoncd-hub-1-20-api-push.yaml
  .tekton/tektoncd-hub-1-20-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-20-db-migration-push.yaml
  .tekton/tektoncd-hub-1-20-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-20-ui-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-hub-1-15-api
  .tekton/tektoncd-hub-1-15-api-pull-request.yaml
  .tekton/tektoncd-hub-1-15-api-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-hub-1-15-db-migration
  .tekton/tektoncd-hub-1-15-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-15-db-migration-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-hub-1-15-ui
  .tekton/tektoncd-hub-1-15-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-15-ui-push.yaml
Due: none

Change placeholder text from 'rebuild1' to 'rebuild2'
  .konflux/patches/.placeholder
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Update .placeholder
  .konflux/patches/.placeholder
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Red Hat Konflux kflux-prd-rh02 purge tektoncd-hub-1-20-api
  .tekton/tektoncd-hub-1-20-api-pull-request.yaml
  .tekton/tektoncd-hub-1-20-api-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-hub-1-20-db-migration
  .tekton/tektoncd-hub-1-20-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-20-db-migration-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-hub-1-20-ui
  .tekton/tektoncd-hub-1-20-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-20-ui-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-hub-1-20-api
  .tekton/tektoncd-hub-1-20-api-pull-request.yaml
  .tekton/tektoncd-hub-1-20-api-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-hub-1-20-db-migration
  .tekton/tektoncd-hub-1-20-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-20-db-migration-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-hub-1-20-ui
  .tekton/tektoncd-hub-1-20-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-20-ui-push.yaml
Due: none

[bot:main] update konflux configuration
  .github/renovate.json
Due: none

Rename placeholder from 'rebuild1' to 'rebuild'
  .konflux/patches/.placeholder
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:release-v1.21.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
Due: none

rebuild: trigger image rebuild 2026-03-30T05:47:21Z
  .konflux/patches/.placeholder
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:release-v1.20.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
Due: none

rebuild: trigger image rebuild 2026-03-31T10:04:51Z
  .konflux/patches/.placeholder
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:release-v1.20.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

Path conditions:
  tektoncd-hub-main-hub-api-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-api.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-api-pull-request.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-main-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-main-hub-ui-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-next-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-next-hub-ui-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
