Repository openshift-pipelines/tektoncd-hub: changes, and which Tekton pipelines are due for each by the changed paths.
All: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Path conditions:
  tektoncd-hub-main-hub-api-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-api.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-api-pull-request.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-main-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-main-hub-ui-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-next-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-next-hub-ui-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)

[bot] Update main from tektoncd/hub to a242af0c5d8123245c687b08022d2ed8b204cc10
  head
  upstream/go.mod
  upstream/go.sum
  upstream/images/api.Dockerfile
  upstream/images/db.Dockerfile
  upstream/swagger/package-lock.json
  upstream/swagger/package.json
  upstream/ui/package-lock.json
  upstream/ui/package.json
  upstream/vendor/github.com/spf13/cobra/README.md
  upstream/vendor/github.com/spf13/cobra/active_help.go
  upstream/vendor/github.com/spf13/cobra/bash_completionsV2.go
  upstream/vendor/github.com/spf13/cobra/cobra.go
  upstream/vendor/github.com/spf13/cobra/command.go
  upstream/vendor/github.com/spf13/cobra/completions.go
  upstream/vendor/github.com/spf13/cobra/powershell_completions.go
  upstream/vendor/github.com/spf13/pflag/.editorconfig
  upstream/vendor/github.com/spf13/pflag/.golangci.yaml
  upstream/vendor/github.com/spf13/pflag/flag.go
  upstream/vendor/github.com/spf13/pflag/ip.go
  upstream/vendor/github.com/spf13/pflag/ipnet_slice.go
  upstream/vendor/github.com/spf13/pflag/string_array.go
  upstream/vendor/gotest.tools/v3/assert/assert.go
  upstream/vendor/gotest.tools/v3/assert/cmp/compare.go
  upstream/vendor/gotest.tools/v3/internal/assert/assert.go
  upstream/vendor/gotest.tools/v3/internal/difflib/difflib.go
  upstream/vendor/gotest.tools/v3/internal/source/bazel.go
  upstream/vendor/gotest.tools/v3/internal/source/source.go
  upstream/vendor/modules.txt
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Red Hat Konflux purge tektoncd-hub-main-ui Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-hub-main-ui-pull-request.yaml
  .tekton/tektoncd-hub-main-ui-push.yaml
Due: none

Red Hat Konflux purge tektoncd-hub-main-api Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-hub-main-api-pull-request.yaml
  .tekton/tektoncd-hub-main-api-push.yaml
Due: none

Red Hat Konflux purge tektoncd-hub-main-db-migration Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-hub-main-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-main-db-migration-push.yaml
Due: none

[bot] Update main from tektoncd/hub to c79b736e493bb4e58987f7d1f6ea37046e7f46ad
  head
  upstream/go.mod
  upstream/go.sum
  upstream/swagger/package-lock.json
  upstream/swagger/package.json
  upstream/ui/package-lock.json
  upstream/ui/package.json
  upstream/vendor/github.com/go-jose/go-jose/v4/CONTRIBUTING.md
  upstream/vendor/github.com/go-jose/go-jose/v4/README.md
  upstream/vendor/github.com/go-jose/go-jose/v4/jwe.go
  upstream/vendor/github.com/go-jose/go-jose/v4/jwk.go
  upstream/vendor/github.com/go-jose/go-jose/v4/jws.go
  upstream/vendor/modules.txt
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update main from tektoncd/hub to 39a36b0b9ac3e6c33b71623b5c45b30663868cb3
  head
  upstream/swagger/package-lock.json
  upstream/swagger/package.json
  upstream/ui/package-lock.json
  upstream/ui/package.json
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Update base image Digest to latest SHA
  .konflux/dockerfiles/api.Dockerfile
  .konflux/dockerfiles/db-migration.Dockerfile
  .konflux/dockerfiles/ui.Dockerfile
Due: none

Update .placeholder
  .konflux/patches/.placeholder
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Red Hat Konflux update tektoncd-hub-1-17-api Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-hub-1-17-api-pull-request.yaml
  .tekton/tektoncd-hub-1-17-api-push.yaml
Due: none

Red Hat Konflux update tektoncd-hub-1-17-db-migration Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-hub-1-17-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-17-db-migration-push.yaml
Due: none

Red Hat Konflux update tektoncd-hub-1-17-ui Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-hub-1-17-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-17-ui-push.yaml
Due: none

[bot:release-v1.17.x] update konflux configuration
  .github/workflows/update-sources.yaml
  .konflux/next/application.yaml
  .konflux/next/component-api.yaml
  .konflux/next/component-db-migration.yaml
  .konflux/next/component-ui.yaml
  .konflux/next/image-api.yaml
  .konflux/next/image-db-migration.yaml
  .konflux/next/image-ui.yaml
  .konflux/next/tests.yaml
  .tekton/tektoncd-hub-1-17-api-pull-request.yaml
  .tekton/tektoncd-hub-1-17-api-push.yaml
  .tekton/tektoncd-hub-1-17-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-17-db-migration-push.yaml
  .tekton/tektoncd-hub-1-17-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-17-ui-push.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/update-sources-release-v1.17.x.yaml
  .konflux/main/application.yaml
  .konflux/main/component-api.yaml
  .konflux/main/component-db-migration.yaml
  .konflux/main/component-ui.yaml
  .konflux/main/image-api.yaml
  .konflux/main/image-db-migration.yaml
  .konflux/main/image-ui.yaml
  .konflux/main/tests.yaml
  .tekton/boussole.yaml
Due: none

[bot:release-v1.17.x] update konflux configuration
  .tekton/tektoncd-hub-1-17-api-pull-request.yaml
  .tekton/tektoncd-hub-1-17-api-push.yaml
  .tekton/tektoncd-hub-1-17-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-17-db-migration-push.yaml
  .tekton/tektoncd-hub-1-17-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-17-ui-push.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/update-sources-release-v1.17.x.yaml
Due: none

Update rpms.in.yaml
  .konflux/rpms/rpms.in.yaml
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:release-v1.17.x] update konflux configuration
  .konflux/rpms/rpms.lock.yaml
  .konflux/rpms/ubi.repo
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[1-17]Add dockerfile and rpms
  .github/workflows/auto-merge.main.yaml
  .konflux/dockerfiles/api.Dockerfile
  .konflux/dockerfiles/db-migration.Dockerfile
  .konflux/dockerfiles/ui.Dockerfile
  .konflux/rpms/rpms.in.yaml
  .konflux/rpms/rpms.lock.yaml
  .konflux/rpms/ubi.repo
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:release-v1.15.x] update konflux configuration
  .tekton/tektoncd-hub-1-15-api-pull-request.yaml
  .tekton/tektoncd-hub-1-15-api-push.yaml
  .tekton/tektoncd-hub-1-15-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-15-db-migration-push.yaml
  .tekton/tektoncd-hub-1-15-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-15-ui-push.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/update-sources-release-v1.15.x.yaml
Due: none

Red Hat Konflux update tektoncd-hub-1-15-db-migration Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-hub-1-15-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-15-db-migration-push.yaml
Due: none
