Repository openshift-pipelines/tektoncd-hub: changes, and which Tekton pipelines are due for each by the changed paths.
All: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Path conditions:
  tektoncd-hub-main-hub-api-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-api.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-api-pull-request.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-main-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-main-hub-ui-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-next-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-next-hub-ui-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)

[bot:release-v1.21.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot] Update release-v1.15.x from openshift-pipelines/hub:release-v1.17.5 to 555fe2f585804687d6464076d443eef5b0bac421
  upstream/.github/ISSUE_TEMPLATE/bug-report.md
  upstream/.github/ISSUE_TEMPLATE/feature-request.md
  upstream/.github/ISSUE_TEMPLATE/free-form.md
  upstream/.github/dependabot.yml
  upstream/.github/pull_request_template.md
  upstream/.github/workflows/goa-gen-dependabot.yml
  upstream/.gitignore
  upstream/.golangci.yml
  upstream/.yamllint
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update release-v1.22.x from openshift-pipelines/hub:release-v1.23.12 to f7d1f0b9f25b1c9b51d35944903722a671f3338a
  upstream/.github/ISSUE_TEMPLATE/bug-report.md
  upstream/.github/ISSUE_TEMPLATE/feature-request.md
  upstream/.github/ISSUE_TEMPLATE/free-form.md
  upstream/.github/dependabot.yml
  upstream/.github/pull_request_template.md
  upstream/.github/workflows/chatops_retest.yaml
  upstream/.github/workflows/ci.yaml
  upstream/.github/workflows/goa-gen-dependabot.yml
  upstream/.github/workflows/golangci-lint.yaml
  upstream/.github/workflows/slash.yaml
  upstream/.gitignore
  upstream/.golangci.yml
  upstream/.yamllint
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update release-v1.23.x from openshift-pipelines/hub:release-v1.24.1 to a84deebc8e7e490af8f3c2346a15cbf266c23499
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

One Click Release: build all konflux components
  .konflux/patches/.placeholder
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:release-v1.23.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:nightly] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot] Update release-v1.23.x from openshift-pipelines/hub:release-v1.24.1 to a84deebc8e7e490af8f3c2346a15cbf266c23499
  upstream/.github/ISSUE_TEMPLATE/bug-report.md
  upstream/.github/ISSUE_TEMPLATE/feature-request.md
  upstream/.github/ISSUE_TEMPLATE/free-form.md
  upstream/.github/dependabot.yml
  upstream/.github/pull_request_template.md
  upstream/.github/workflows/chatops_retest.yaml
  upstream/.github/workflows/ci.yaml
  upstream/.github/workflows/goa-gen-dependabot.yml
  upstream/.github/workflows/golangci-lint.yaml
  upstream/.github/workflows/slash.yaml
  upstream/.gitignore
  upstream/.golangci.yml
  upstream/.yamllint
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update nightly from openshift-pipelines/hub:main to ca94f98c21d9f2e74d5dcd04f0eaf18ce7e60888
  upstream/.github/ISSUE_TEMPLATE/bug-report.md
  upstream/.github/ISSUE_TEMPLATE/feature-request.md
  upstream/.github/ISSUE_TEMPLATE/free-form.md
  upstream/.github/dependabot.yml
  upstream/.github/pull_request_template.md
  upstream/.github/workflows/chatops_retest.yaml
  upstream/.github/workflows/cherry-pick-command.yaml
  upstream/.github/workflows/ci.yaml
  upstream/.github/workflows/goa-gen-dependabot.yml
  upstream/.github/workflows/golangci-lint.yaml
  upstream/.github/workflows/slash.yaml
  upstream/.gitignore
  upstream/.golangci.yml
  upstream/.yamllint
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:release-v1.15.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:next] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:release-v1.20.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:release-v1.22.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot] Update release-v1.15.x from openshift-pipelines/hub:release-v1.17.6 to e7612f7fb5c92f9c116401d9bf57c7e51e984287
  head
  upstream/go.mod
  upstream/go.sum
  upstream/swagger/package-lock.json
  upstream/ui/package-lock.json
  upstream/vendor/github.com/docker/docker/AUTHORS
  upstream/vendor/modules.txt
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:release-v1.21.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
  .konflux/dockerfiles/api.Dockerfile
  .konflux/dockerfiles/db-migration.Dockerfile
  .konflux/dockerfiles/ui.Dockerfile
  .tekton/tektoncd-hub-1-21-api-pull-request.yaml
  .tekton/tektoncd-hub-1-21-api-push.yaml
  .tekton/tektoncd-hub-1-21-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-21-db-migration-push.yaml
  .tekton/tektoncd-hub-1-21-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-21-ui-push.yaml
Due: none

update api and db migration dockerfile
  .konflux/dockerfiles/api.Dockerfile
  .konflux/dockerfiles/db-migration.Dockerfile
  .konflux/dockerfiles/ui.Dockerfile
Due: none
