Repository openshift-pipelines/tektoncd-hub: changes, and which Tekton pipelines are due for each by the changed paths.
All: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Path conditions:
  tektoncd-hub-main-hub-api-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-api.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-api-pull-request.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-main-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-main-hub-ui-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-next-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-next-hub-ui-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)

Regenate rpms.lock.yaml for latest ubi
  .konflux/rpms/rpms.lock.yaml
  .konflux/rpms/ubi.repo
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Update nodejs and nginx image sha
  .konflux/dockerfiles/hub-ui.Dockerfile
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Fix build platforms from linux-m2xlarge/arm64 to linux/arm64 for push builds
  .tekton/tektoncd-hub-main-db-migration-push.yaml
  .tekton/tektoncd-hub-main-hub-api-push.yaml
  .tekton/tektoncd-hub-main-hub-ui-push.yaml
Due: tektoncd-hub-main-hub-ui-on-push

Fix build platforms from linux-m2xlarge/arm64 to linux/arm64 for push builds
  .tekton/docker-build-ta.yaml
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Revert "Fix build platforms from linux-m2xlarge/arm64 to linux/arm64 for push builds"
  .tekton/tektoncd-hub-main-db-migration-push.yaml
  .tekton/tektoncd-hub-main-hub-api-push.yaml
  .tekton/tektoncd-hub-main-hub-ui-push.yaml
Due: tektoncd-hub-main-hub-ui-on-push

Revert "Fix build platforms from linux-m2xlarge/arm64 to linux/arm64 for push builds"
  .tekton/docker-build-ta.yaml
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

DO_NOT_MERGE - Test Commit for - linux-m2xlarge/arm64 testing for ui
  .tekton/tektoncd-hub-main-hub-ui-pull-request.yaml
Due: tektoncd-hub-main-hub-ui-on-pull-request

Revert "Update nodejs and nginx image sha"
  .konflux/dockerfiles/hub-ui.Dockerfile
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] update konflux configuration
  .tekton/tektoncd-hub-main-db-migration-push.yaml
  .tekton/tektoncd-hub-main-hub-api-push.yaml
  .tekton/tektoncd-hub-main-hub-ui-push.yaml
Due: tektoncd-hub-main-hub-ui-on-push

Updating Digest of nodejs and nginx image so it points to manifest list instead of amd64 images
  .konflux/dockerfiles/hub-ui.Dockerfile
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update main from tektoncd/hub to 60294ef9695a5b30856d2d0a8b6ff5cc6f757e90
  head
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/golang.org/x/net/http2/client_conn_pool.go
  upstream/vendor/golang.org/x/net/http2/config.go
  upstream/vendor/golang.org/x/net/http2/config_go124.go
  upstream/vendor/golang.org/x/net/http2/frame.go
  upstream/vendor/golang.org/x/net/http2/http2.go
  upstream/vendor/golang.org/x/net/http2/server.go
  upstream/vendor/golang.org/x/net/http2/transport.go
  upstream/vendor/golang.org/x/net/http2/unencrypted.go
  upstream/vendor/modules.txt
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Add script to update the rpms lock file and ubi.repo
  .konflux/rpms/ubi.repo
  .konflux/rpms/update-rpms.sh
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] update konflux configuration
  .konflux/rpms/ubi-new.repo
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update main from tektoncd/hub to 0b9eca92fce438d263d9598764665b0a58e43dbc
  head
  upstream/go.sum
  upstream/images/api.Dockerfile
  upstream/images/db.Dockerfile
  upstream/swagger/package-lock.json
  upstream/swagger/package.json
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Fix README link to upstream repo
  README.md
Due: none

remove JAVA_COMMUNITY_DEPENDENCIES from results as it is removed from builah task
  .tekton/docker-build-ta.yaml
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] update konflux configuration
  .github/workflows/update-sources.next.yaml
Due: none

[bot] Update main from tektoncd/hub to f4621078912b44c26b0b8a0fa1d7d533d274c640
  head
  upstream/go.mod
  upstream/go.sum
  upstream/swagger/package-lock.json
  upstream/swagger/package.json
  upstream/ui/package-lock.json
  upstream/ui/package.json
  upstream/vendor/cloud.google.com/go/auth/CHANGES.md
  upstream/vendor/cloud.google.com/go/auth/internal/internal.go
  upstream/vendor/cloud.google.com/go/auth/internal/transport/cert/enterprise_cert.go
  upstream/vendor/cloud.google.com/go/auth/internal/transport/cert/workload_cert.go
  upstream/vendor/cloud.google.com/go/spanner/CHANGES.md
  upstream/vendor/cloud.google.com/go/spanner/admin/database/apiv1/auxiliary.go
  upstream/vendor/cloud.google.com/go/spanner/admin/database/apiv1/doc.go
  upstream/vendor/cloud.google.com/go/spanner/admin/database/apiv1/helpers.go
  upstream/vendor/cloud.google.com/go/spanner/apiv1/auxiliary.go
  upstream/vendor/cloud.google.com/go/spanner/apiv1/doc.go
  upstream/vendor/cloud.google.com/go/spanner/apiv1/helpers.go
  upstream/vendor/cloud.google.com/go/spanner/client.go
  upstream/vendor/cloud.google.com/go/spanner/internal/version.go
  upstream/vendor/cloud.google.com/go/spanner/metrics.go
  upstream/vendor/cloud.google.com/go/spanner/metrics_monitoring_exporter.go
  upstream/vendor/cloud.google.com/go/spanner/read.go
  upstream/vendor/cloud.google.com/go/spanner/session.go
  upstream/vendor/cloud.google.com/go/spanner/transaction.go
  upstream/vendor/cloud.google.com/go/spanner/value.go
  upstream/vendor/github.com/go-testfixtures/testfixtures/v3/CHANGELOG.md
  upstream/vendor/github.com/go-testfixtures/testfixtures/v3/README.md
  upstream/vendor/github.com/go-testfixtures/testfixtures/v3/docker-compose.yml
  upstream/vendor/github.com/go-testfixtures/testfixtures/v3/mysql.go
  upstream/vendor/github.com/go-testfixtures/testfixtures/v3/testfixtures.go
  upstream/vendor/google.golang.org/api/internal/version.go
  upstream/vendor/modules.txt
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update next from tektoncd/hub to 0ea032d66031e36799cbbb08f0825c8f848faab8
  head
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/golang.org/x/net/http2/client_conn_pool.go
  upstream/vendor/golang.org/x/net/http2/config.go
  upstream/vendor/golang.org/x/net/http2/config_go124.go
  upstream/vendor/golang.org/x/net/http2/frame.go
  upstream/vendor/golang.org/x/net/http2/http2.go
  upstream/vendor/golang.org/x/net/http2/server.go
  upstream/vendor/golang.org/x/net/http2/transport.go
  upstream/vendor/golang.org/x/net/http2/unencrypted.go
  upstream/vendor/golang.org/x/sys/unix/syscall_dragonfly.go
  upstream/vendor/golang.org/x/sys/windows/dll_windows.go
  upstream/vendor/modules.txt
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] update konflux configuration
  .github/workflows/update-sources.main.yaml
  .github/workflows/update-sources.next.yaml
Due: none

.github/workflows: remove auto-merge workflows
  .github/workflows/auto-merge.main.yaml
  .github/workflows/auto-merge.next.yaml
Due: none
