Repository openshift-pipelines/tektoncd-hub: changes, and which Tekton pipelines are due for each by the changed paths.
All: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

tektoncd-hub-main-hub-api-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-main/hub-api:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-hub-main-hub-ui-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-main/hub-ui:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-hub-main-hub-ui-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-main/hub-ui:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/hub-ui.Dockerfile
  ...

tektoncd-hub-next-hub-ui-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-next/hub-ui:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-hub-next-hub-ui-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-next/hub-ui:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/hub-ui.Dockerfile
  ...

[bot:main] update konflux configuration
  .github/workflows/update-sources-release-v1.18.x.yaml
Due: none

[bot] Update main from tektoncd/hub to a3fceb1699708745b58c6614d5226962cd06890f
  head
  upstream/go.mod
  upstream/go.sum
  upstream/swagger/package-lock.json
  upstream/swagger/package.json
  upstream/vendor/gorm.io/gorm/.golangci.yml
  upstream/vendor/gorm.io/gorm/CODE_OF_CONDUCT.md
  upstream/vendor/gorm.io/gorm/LICENSE
  upstream/vendor/gorm.io/gorm/callbacks/associations.go
  upstream/vendor/gorm.io/gorm/clause/returning.go
  upstream/vendor/gorm.io/gorm/finisher_api.go
  upstream/vendor/gorm.io/gorm/gorm.go
  upstream/vendor/gorm.io/gorm/internal/lru/lru.go
  upstream/vendor/gorm.io/gorm/internal/stmt_store/stmt_store.go
  upstream/vendor/gorm.io/gorm/logger/logger.go
  upstream/vendor/gorm.io/gorm/migrator/migrator.go
  upstream/vendor/gorm.io/gorm/prepare_stmt.go
  upstream/vendor/gorm.io/gorm/scan.go
  upstream/vendor/gorm.io/gorm/schema/field.go
  upstream/vendor/gorm.io/gorm/schema/index.go
  upstream/vendor/gorm.io/gorm/schema/relationship.go
  upstream/vendor/gorm.io/gorm/schema/utils.go
  upstream/vendor/modules.txt
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:release-v0.16.x] update konflux configuration
  .tekton/tektoncd-hub-1-16-api-pull-request.yaml
  .tekton/tektoncd-hub-1-16-api-push.yaml
  .tekton/tektoncd-hub-1-16-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-16-db-migration-push.yaml
  .tekton/tektoncd-hub-1-16-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-16-ui-push.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/auto-merge-upstream-release-v0.16.x.yaml
  .github/workflows/update-sources-release-v0.16.x.yaml
Due: none

[bot:release-v1.16.x] update konflux configuration
  .tekton/tektoncd-hub-1-16-api-pull-request.yaml
  .tekton/tektoncd-hub-1-16-api-push.yaml
  .tekton/tektoncd-hub-1-16-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-16-db-migration-push.yaml
  .tekton/tektoncd-hub-1-16-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-16-ui-push.yaml
Due: none

[bot] Update main from tektoncd/hub to 5e8d1e99529ba6ba29a31a694e66df1c94a1a76a
  head
  upstream/swagger/package-lock.json
  upstream/swagger/package.json
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Update ui.Dockerfile
  .konflux/dockerfiles/ui.Dockerfile
Due: none

Update .placeholder
  .konflux/patches/.placeholder
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update main from tektoncd/hub to ed979e9a9ad2cb25c230dd3a7974172a1894cdf8
  head
  upstream/api/pkg/app/data.go
  upstream/api/pkg/cli/cmd/get/task.go
  upstream/api/pkg/cli/cmd/get/task_test.go
  upstream/api/pkg/cli/cmd/get/testdata/TestGetTask_AsClusterTask.golden
  upstream/api/pkg/cli/cmd/info/info_test.go
  upstream/api/pkg/cli/cmd/info/testdata/TestPipelineTask_MultiLineDescription.golden
  upstream/api/pkg/cli/test/helpers.go
  upstream/api/pkg/cli/test/v1beta.go
  upstream/api/pkg/parser/catalog.go
  upstream/go.mod
  upstream/go.sum
  upstream/swagger/package-lock.json
  upstream/swagger/package.json
  upstream/vendor/golang.org/x/crypto/cryptobyte/asn1.go
  upstream/vendor/golang.org/x/crypto/internal/poly1305/mac_noasm.go
  upstream/vendor/golang.org/x/crypto/internal/poly1305/sum_asm.go
  upstream/vendor/golang.org/x/crypto/internal/poly1305/sum_loong64.s
  upstream/vendor/golang.org/x/crypto/internal/poly1305/sum_ppc64x.go
  upstream/vendor/modules.txt
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:main] update konflux configuration
  .tekton/tektoncd-hub-main-api-pull-request.yaml
  .tekton/tektoncd-hub-main-api-push.yaml
  .tekton/tektoncd-hub-main-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-main-db-migration-push.yaml
  .tekton/tektoncd-hub-main-ui-pull-request.yaml
  .tekton/tektoncd-hub-main-ui-push.yaml
Due: none

[bot:release-v1.15.x] update konflux configuration
  .tekton/tektoncd-hub-1-15-api-pull-request.yaml
  .tekton/tektoncd-hub-1-15-api-push.yaml
  .tekton/tektoncd-hub-1-15-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-15-db-migration-push.yaml
  .tekton/tektoncd-hub-1-15-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-15-ui-push.yaml
Due: none

Update dockerfiles
  .konflux/dockerfiles/api.Dockerfile
  .konflux/dockerfiles/db-migration.Dockerfile
  .konflux/dockerfiles/ui.Dockerfile
Due: none

1-18-1 update dockerfile
  .konflux/dockerfiles/api.Dockerfile
  .konflux/dockerfiles/db-migration.Dockerfile
  .konflux/dockerfiles/ui.Dockerfile
Due: none

Update rpm
  .konflux/rpms/rpms.lock-org.yaml
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:next] update konflux configuration
  .tekton/tektoncd-hub-next-api-pull-request.yaml
  .tekton/tektoncd-hub-next-api-push.yaml
  .tekton/tektoncd-hub-next-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-next-db-migration-push.yaml
  .tekton/tektoncd-hub-next-ui-pull-request.yaml
  .tekton/tektoncd-hub-next-ui-push.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/auto-merge-upstream-release-v1.16.x.yaml
  .github/workflows/update-sources-release-v1.16.x.yaml
Due: none

1-16-4 update dockerfile
  .konflux/dockerfiles/api.Dockerfile
  .konflux/dockerfiles/db-migration.Dockerfile
  .konflux/dockerfiles/ui.Dockerfile
  .konflux/next/application.yaml
  .konflux/next/component-api.yaml
  .konflux/next/component-db-migration.yaml
  .konflux/next/component-ui.yaml
  .konflux/next/image-api.yaml
  .konflux/next/image-db-migration.yaml
  .konflux/next/image-ui.yaml
  .konflux/next/tests.yaml
  .tekton/tektoncd-hub-next-api-pull-request.yaml
  .tekton/tektoncd-hub-next-api-push.yaml
  .tekton/tektoncd-hub-next-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-next-db-migration-push.yaml
  .tekton/tektoncd-hub-next-ui-pull-request.yaml
  .tekton/tektoncd-hub-next-ui-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-hub-1-16-api Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-hub-1-16-api-pull-request.yaml
  .tekton/tektoncd-hub-1-16-api-push.yaml
Due: none

Path conditions:
  tektoncd-hub-main-hub-api-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-api.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-api-pull-request.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-main-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-main-hub-ui-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-next-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-next-hub-ui-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
