Repository openshift-pipelines/tektoncd-hub: changes, and which Tekton pipelines are due for each by the changed paths.
All: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Path conditions:
  tektoncd-hub-main-hub-api-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-api.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-api-pull-request.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-main-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-main-hub-ui-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-next-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-next-hub-ui-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)

Red Hat Konflux kflux-prd-rh02 update tektoncd-hub-1-17-api Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-hub-1-17-api-pull-request.yaml
  .tekton/tektoncd-hub-1-17-api-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-hub-1-17-db-migration Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-hub-1-17-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-17-db-migration-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-hub-1-17-ui Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-hub-1-17-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-17-ui-push.yaml
Due: none

[bot] Update main from tektoncd/hub to 270a94da8c5093c4401b6a2cf41ccae483c5453c
  head
  upstream/go.mod
  upstream/go.sum
  upstream/swagger/package-lock.json
  upstream/swagger/package.json
  upstream/ui/package-lock.json
  upstream/ui/package.json
  upstream/vendor/golang.org/x/mod/module/module.go
  upstream/vendor/golang.org/x/mod/semver/semver.go
  upstream/vendor/golang.org/x/sync/errgroup/errgroup.go
  upstream/vendor/golang.org/x/tools/go/packages/golist.go
  upstream/vendor/golang.org/x/tools/go/packages/packages.go
  upstream/vendor/golang.org/x/tools/go/types/typeutil/callee.go
  upstream/vendor/golang.org/x/tools/internal/packagesinternal/packages.go
  upstream/vendor/golang.org/x/tools/internal/stdlib/deps.go
  upstream/vendor/golang.org/x/tools/internal/stdlib/manifest.go
  upstream/vendor/golang.org/x/tools/internal/stdlib/stdlib.go
  upstream/vendor/modules.txt
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:release-v1.19.x]] update konflux configuration
  .tekton/tektoncd-hub-1-19-api-pull-request.yaml
  .tekton/tektoncd-hub-1-19-api-push.yaml
  .tekton/tektoncd-hub-1-19-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-19-db-migration-push.yaml
  .tekton/tektoncd-hub-1-19-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-19-ui-push.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/auto-merge-upstream-release-v1.19.x].yaml
  .github/workflows/update-sources-release-v1.19.x].yaml
Due: none

Update dockerfile and rpms
  .konflux/dockerfiles/api.Dockerfile
  .konflux/dockerfiles/db-migration.Dockerfile
  .konflux/dockerfiles/ui.Dockerfile
  .konflux/rpms/rpms.in.yaml
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update main from tektoncd/hub to fde753c1630606e9b5d0eb895c8f3a8c4e78e670
  head
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/gorm.io/gorm/callbacks/create.go
  upstream/vendor/gorm.io/gorm/callbacks/delete.go
  upstream/vendor/gorm.io/gorm/callbacks/preload.go
  upstream/vendor/gorm.io/gorm/callbacks/query.go
  upstream/vendor/gorm.io/gorm/callbacks/raw.go
  upstream/vendor/gorm.io/gorm/callbacks/update.go
  upstream/vendor/gorm.io/gorm/chainable_api.go
  upstream/vendor/gorm.io/gorm/clause/joins.go
  upstream/vendor/gorm.io/gorm/finisher_api.go
  upstream/vendor/gorm.io/gorm/generics.go
  upstream/vendor/gorm.io/gorm/gorm.go
  upstream/vendor/gorm.io/gorm/internal/stmt_store/stmt_store.go
  upstream/vendor/gorm.io/gorm/scan.go
  upstream/vendor/gorm.io/gorm/schema/field.go
  upstream/vendor/gorm.io/gorm/schema/index.go
  upstream/vendor/gorm.io/gorm/schema/relationship.go
  upstream/vendor/gorm.io/gorm/statement.go
  upstream/vendor/modules.txt
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update main from tektoncd/hub to c7d40c85bdfb907e6e289162f10100a963661931
  head
  upstream/go.mod
  upstream/go.sum
  upstream/swagger/package-lock.json
  upstream/swagger/package.json
  upstream/ui/package-lock.json
  upstream/ui/package.json
  upstream/vendor/github.com/go-chi/chi/v5/README.md
  upstream/vendor/github.com/go-chi/chi/v5/chi.go
  upstream/vendor/github.com/go-chi/chi/v5/mux.go
  upstream/vendor/github.com/go-chi/chi/v5/path_value.go
  upstream/vendor/github.com/go-chi/chi/v5/path_value_fallback.go
  upstream/vendor/github.com/go-chi/chi/v5/tree.go
  upstream/vendor/modules.txt
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Update .placeholder
  .konflux/patches/.placeholder
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update main from tektoncd/hub to 3e3ee27c5bd8b7ecf4cce4dec09b5eef2d51d23a
  head
  upstream/go.mod
  upstream/go.sum
  upstream/swagger/package-lock.json
  upstream/swagger/package.json
  upstream/ui/package-lock.json
  upstream/vendor/modules.txt
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update main from tektoncd/hub to 756113aca6d16e17ee9d62eb0dc43045920f08d3
  head
  upstream/go.mod
  upstream/go.sum
  upstream/swagger/package-lock.json
  upstream/swagger/package.json
  upstream/vendor/go.yaml.in/yaml/v2/.travis.yml
  upstream/vendor/go.yaml.in/yaml/v2/LICENSE
  upstream/vendor/go.yaml.in/yaml/v2/LICENSE.libyaml
  upstream/vendor/go.yaml.in/yaml/v2/NOTICE
  upstream/vendor/go.yaml.in/yaml/v2/README.md
  upstream/vendor/go.yaml.in/yaml/v2/apic.go
  upstream/vendor/go.yaml.in/yaml/v2/decode.go
  upstream/vendor/go.yaml.in/yaml/v2/emitterc.go
  upstream/vendor/go.yaml.in/yaml/v2/encode.go
  upstream/vendor/go.yaml.in/yaml/v2/parserc.go
  upstream/vendor/go.yaml.in/yaml/v2/readerc.go
  upstream/vendor/go.yaml.in/yaml/v2/resolve.go
  upstream/vendor/go.yaml.in/yaml/v2/scannerc.go
  upstream/vendor/go.yaml.in/yaml/v2/sorter.go
  upstream/vendor/go.yaml.in/yaml/v2/writerc.go
  upstream/vendor/go.yaml.in/yaml/v2/yaml.go
  upstream/vendor/go.yaml.in/yaml/v2/yamlh.go
  upstream/vendor/go.yaml.in/yaml/v2/yamlprivateh.go
  upstream/vendor/modules.txt
  upstream/vendor/sigs.k8s.io/yaml/.travis.yml
  upstream/vendor/sigs.k8s.io/yaml/goyaml.v2/OWNERS
  upstream/vendor/sigs.k8s.io/yaml/goyaml.v2/README.md
  upstream/vendor/sigs.k8s.io/yaml/goyaml.v2/yaml_aliases.go
  upstream/vendor/sigs.k8s.io/yaml/yaml.go
  upstream/vendor/sigs.k8s.io/yaml/yaml_go110.go
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

update ubi-minimal SHA to latest
  .konflux/dockerfiles/api.Dockerfile
  .konflux/dockerfiles/db-migration.Dockerfile
Due: none

Update ui.Dockerfile
  .konflux/dockerfiles/ui.Dockerfile
Due: none

Update rpms to fix EC issue
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update main from tektoncd/hub to 42d4e57ae3286b6fe283b905d5aee28fda4302ca
  head
  upstream/README.md
  upstream/ui/public/index.html
  upstream/ui/src/containers/App/__snapshots__/App.test.tsx.snap
  upstream/ui/src/containers/Header/Header.css
  upstream/ui/src/containers/Header/__snapshots__/Header.test.tsx.snap
  upstream/ui/src/containers/Header/index.tsx
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

update ubi minimal images
  .konflux/dockerfiles/api.Dockerfile
  .konflux/dockerfiles/db-migration.Dockerfile
Due: none

update ubi base image
  .konflux/dockerfiles/api.Dockerfile
  .konflux/dockerfiles/db-migration.Dockerfile
Due: none

Update ubi-minimal sha to latests for 1.19.1
  .konflux/dockerfiles/api.Dockerfile
  .konflux/dockerfiles/db-migration.Dockerfile
  .konflux/dockerfiles/ui.Dockerfile
Due: none
