Repository openshift-pipelines/tektoncd-hub: changes, and which Tekton pipelines are due for each by the changed paths.
All: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Path conditions:
  tektoncd-hub-main-hub-api-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-api.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-api-pull-request.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-main-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-main-hub-ui-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-next-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-next-hub-ui-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)

Update tekton payload from main
  .tekton/tektoncd-hub-next-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-next-db-migration-push.yaml
  .tekton/tektoncd-hub-next-hub-api-pull-request.yaml
  .tekton/tektoncd-hub-next-hub-api-push.yaml
  .tekton/tektoncd-hub-next-hub-ui-pull-request.yaml
  .tekton/tektoncd-hub-next-hub-ui-push.yaml
Due: tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] update konflux configuration
  .github/workflows/update-sources.main.yaml
  .github/workflows/update-sources.next.yaml
Due: none

Update hub-ui.Dockerfile
  .konflux/dockerfiles/hub-ui.Dockerfile
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

update lock file for rpms
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

.konflux/dockerfiles: update go builder image to 1.23
  .konflux/dockerfiles/db-migration.Dockerfile
  .konflux/dockerfiles/hub-api.Dockerfile
Due: none

[bot] Update main from tektoncd/hub to 29580abe9643bb3ebd6bb1388ae574f74e5bfeaa
  head
  upstream/go.mod
  upstream/go.sum
  upstream/images/api.Dockerfile
  upstream/images/db.Dockerfile
  upstream/swagger/package-lock.json
  upstream/swagger/package.json
  upstream/ui/package-lock.json
  upstream/vendor/github.com/tektoncd/pipeline/pkg/remote/errors.go
  upstream/vendor/github.com/tektoncd/pipeline/pkg/resolution/common/errors.go
  upstream/vendor/modules.txt
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update main from tektoncd/hub to 07b8dcd2d9e901ad5772280e775c62a299694e68
  head
  upstream/go.mod
  upstream/go.sum
  upstream/swagger/package-lock.json
  upstream/swagger/package.json
  upstream/ui/package-lock.json
  upstream/ui/package.json
  upstream/vendor/modules.txt
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update main from tektoncd/hub to 15695eb61de6e0353976fc5b77a3b04e6aede459
  head
  upstream/go.sum
  upstream/ui/package-lock.json
  upstream/ui/package.json
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update main from tektoncd/hub to 6c1eee694beff5cac1b110177bdfcdccb8223bcd
  head
  upstream/swagger/package-lock.json
  upstream/swagger/package.json
  upstream/ui/package-lock.json
  upstream/ui/package.json
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Regenate rpms.lock.yaml for latest ubi
  .konflux/rpms/rpms.lock.yaml
  .konflux/rpms/ubi.repo
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] update konflux configuration
  .github/workflows/update-sources.next.yaml
Due: none

[bot] Update main from tektoncd/hub to dac843f4039290f19d5868fb1b1c15d1b8af0374
  head
  upstream/go.mod
  upstream/go.sum
  upstream/swagger/package-lock.json
  upstream/swagger/package.json
  upstream/ui/package-lock.json
  upstream/ui/package.json
  upstream/ui/src/components/Footer/__snapshots__/Footer.test.tsx.snap
  upstream/ui/src/containers/App/__snapshots__/App.test.tsx.snap
  upstream/vendor/golang.org/x/sys/unix/syscall_dragonfly.go
  upstream/vendor/golang.org/x/sys/windows/dll_windows.go
  upstream/vendor/modules.txt
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push
