Repository openshift-pipelines/tektoncd-hub: changes, and which Tekton pipelines are due for each by the changed paths.
All: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

tektoncd-hub-main-hub-api-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-main/hub-api:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-hub-main-hub-ui-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-main/hub-ui:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-hub-main-hub-ui-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-main/hub-ui:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/hub-ui.Dockerfile
  ...

tektoncd-hub-next-hub-ui-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-next/hub-ui:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-hub-next-hub-ui-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-next/hub-ui:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/hub-ui.Dockerfile
  ...

Red Hat Konflux kflux-prd-rh02 purge tektoncd-hub-1-24-api
  .tekton/tektoncd-hub-1-24-api-pull-request.yaml
  .tekton/tektoncd-hub-1-24-api-push.yaml
Due: none

chore: force trigger all konflux components
  .konflux/patches/.placeholder
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Update UI docker file to use ubi10 images
  .konflux/dockerfiles/ui.Dockerfile
Due: none

rebuild: trigger image rebuild 2026-06-25T10:25:09Z
  .konflux/patches/.placeholder
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

One Click Release: build all konflux components
  .konflux/patches/.placeholder
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Update RPMS
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

rebuild: trigger image rebuild 2026-07-02T10:15:47Z
  .konflux/patches/.placeholder
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:release-v1.21.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
Due: none

[bot] Update next from openshift-pipelines/hub:release-v1.24.1 to a84deebc8e7e490af8f3c2346a15cbf266c23499
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/swagger/package-lock.json
  upstream/ui/package-lock.json
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

update docker to use unauthenticated UBI urls
  .konflux/dockerfiles/api.Dockerfile
  .konflux/dockerfiles/db-migration.Dockerfile
  .konflux/next/application.yaml
  .konflux/next/component-api.yaml
  .konflux/next/component-db-migration.yaml
  .konflux/next/component-ui.yaml
  .konflux/next/image-api.yaml
  .konflux/next/image-db-migration.yaml
  .konflux/next/image-ui.yaml
  .konflux/next/tests.yaml
Due: none

[bot:nightly] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot] Update nightly from openshift-pipelines/hub:main to ca94f98c21d9f2e74d5dcd04f0eaf18ce7e60888
  upstream/.github/ISSUE_TEMPLATE/bug-report.md
  upstream/.github/ISSUE_TEMPLATE/feature-request.md
  upstream/.github/ISSUE_TEMPLATE/free-form.md
  upstream/.github/dependabot.yml
  upstream/.github/pull_request_template.md
  upstream/.github/workflows/chatops_retest.yaml
  upstream/.github/workflows/cherry-pick-command.yaml
  upstream/.github/workflows/ci.yaml
  upstream/.github/workflows/goa-gen-dependabot.yml
  upstream/.github/workflows/golangci-lint.yaml
  upstream/.github/workflows/slash.yaml
  upstream/.gitignore
  upstream/.golangci.yml
  upstream/.yamllint
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:release-v1.21.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:release-v1.22.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:release-v1.15.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:release-v1.20.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:release-v1.23.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:next] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot] Update release-v1.23.x from openshift-pipelines/hub:release-v1.24.1 to a84deebc8e7e490af8f3c2346a15cbf266c23499
  .konflux/rpms/rpms.lock.yaml
  .konflux/rpms/ubi.repo
  upstream/.github/ISSUE_TEMPLATE/bug-report.md
  upstream/.github/ISSUE_TEMPLATE/feature-request.md
  upstream/.github/ISSUE_TEMPLATE/free-form.md
  upstream/.github/dependabot.yml
  upstream/.github/pull_request_template.md
  upstream/.github/workflows/chatops_retest.yaml
  upstream/.github/workflows/ci.yaml
  upstream/.github/workflows/goa-gen-dependabot.yml
  upstream/.github/workflows/golangci-lint.yaml
  upstream/.github/workflows/slash.yaml
  upstream/.gitignore
  upstream/.golangci.yml
  upstream/.yamllint
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update release-v1.15.x from openshift-pipelines/hub:release-v1.17.5 to 555fe2f585804687d6464076d443eef5b0bac421
  upstream/.github/ISSUE_TEMPLATE/bug-report.md
  upstream/.github/ISSUE_TEMPLATE/feature-request.md
  upstream/.github/ISSUE_TEMPLATE/free-form.md
  upstream/.github/dependabot.yml
  upstream/.github/pull_request_template.md
  upstream/.github/workflows/goa-gen-dependabot.yml
  upstream/.gitignore
  upstream/.golangci.yml
  upstream/.yamllint
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update release-v1.22.x from openshift-pipelines/hub:release-v1.23.12 to f7d1f0b9f25b1c9b51d35944903722a671f3338a
  upstream/.github/ISSUE_TEMPLATE/bug-report.md
  upstream/.github/ISSUE_TEMPLATE/feature-request.md
  upstream/.github/ISSUE_TEMPLATE/free-form.md
  upstream/.github/dependabot.yml
  upstream/.github/pull_request_template.md
  upstream/.github/workflows/chatops_retest.yaml
  upstream/.github/workflows/ci.yaml
  upstream/.github/workflows/goa-gen-dependabot.yml
  upstream/.github/workflows/golangci-lint.yaml
  upstream/.github/workflows/slash.yaml
  upstream/.gitignore
  upstream/.golangci.yml
  upstream/.yamllint
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Path conditions:
  tektoncd-hub-main-hub-api-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-api.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-api-pull-request.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-main-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-main-hub-ui-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-next-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-next-hub-ui-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
