Repository openshift-pipelines/tektoncd-hub: changes, and which Tekton pipelines are due for each by the changed paths.
All: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

tektoncd-hub-main-hub-api-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-main/hub-api:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-hub-main-hub-ui-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-main/hub-ui:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-hub-main-hub-ui-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-main/hub-ui:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/hub-ui.Dockerfile
  ...

tektoncd-hub-next-hub-ui-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-next/hub-ui:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-hub-next-hub-ui-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-next/hub-ui:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/hub-ui.Dockerfile
  ...

Update RUNTIME ARG in db-migration Dockerfile
  .konflux/dockerfiles/db-migration.Dockerfile
Due: none

trigger build
  .konflux/rpms/rpms.in.yaml
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Update runtime image SHA in Dockerfile
  .konflux/dockerfiles/api.Dockerfile
Due: none

Update RUNTIME image SHA in db-migration Dockerfile
  .konflux/dockerfiles/db-migration.Dockerfile
Due: none

Fix formatting in rpms.in.yaml
  .konflux/rpms/rpms.in.yaml
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

update rpms.lock file
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update release-v1.20.x from tektoncd/hub to b0668bb94986bad7d2c27c5b8a77a3c5e900b4f9
  upstream/images/api.Dockerfile
  upstream/images/db.Dockerfile
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update release-v1.21.x from tektoncd/hub to aecd523f0abd6a9333c7582f9eeb529bfaf5964c
  upstream/images/api.Dockerfile
  upstream/images/db.Dockerfile
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Copy static nginx fragment to nginx server.conf
  .konflux/dockerfiles/ui.Dockerfile
Due: none

Revert "Add hub deprecation banner patch"
  .konflux/patches/00-hub-banner.patch
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:next] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
  .tekton/tektoncd-hub-next-api-pull-request.yaml
  .tekton/tektoncd-hub-next-api-push.yaml
  .tekton/tektoncd-hub-next-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-next-db-migration-push.yaml
  .tekton/tektoncd-hub-next-ui-pull-request.yaml
  .tekton/tektoncd-hub-next-ui-push.yaml
Due: none

[bot:release-v1.22.x] update konflux configuration
  .github/workflows/update-sources.yaml
  .tekton/tektoncd-hub-1-22-api-pull-request.yaml
  .tekton/tektoncd-hub-1-22-api-push.yaml
  .tekton/tektoncd-hub-1-22-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-22-db-migration-push.yaml
  .tekton/tektoncd-hub-1-22-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-22-ui-push.yaml
Due: none

[bot:main] update konflux configuration
  .github/renovate.json
  .github/workflows/auto-merge-upstream-next.yaml
  .github/workflows/auto-merge-upstream-release-v1.16.x.yaml
  .github/workflows/auto-merge-upstream-release-v1.17.x.yaml
  .github/workflows/auto-merge-upstream-release-v1.19.x.yaml
  .github/workflows/auto-merge-upstream-release-v1.20.x.yaml
  .github/workflows/auto-merge-upstream-release-v1.21.x.yaml
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources-next.yaml
  .github/workflows/update-sources-release-v0.16.x.yaml
  .github/workflows/update-sources-release-v1.16.x.yaml
  .github/workflows/update-sources-release-v1.17.x.yaml
  .github/workflows/update-sources-release-v1.19.x.yaml
  .github/workflows/update-sources-release-v1.20.x.yaml
  .github/workflows/update-sources-release-v1.21.x.yaml
  .github/workflows/update-sources.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/update-sources-release-v1.20.x.yaml
Due: none

[bot] Update release-v1.20.x from tektoncd/hub to 7b26880b4832901c5c551d5bef91855044cbf41e
  head
  upstream/config/00-init/03-db-deployment.yaml
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:release-v1.14.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
  .tekton/tektoncd-hub-1-14-api-pull-request.yaml
  .tekton/tektoncd-hub-1-14-api-push.yaml
  .tekton/tektoncd-hub-1-14-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-14-db-migration-push.yaml
  .tekton/tektoncd-hub-1-14-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-14-ui-push.yaml
Due: none

[bot] Update release-v1.20.x from tektoncd/hub to b0668bb94986bad7d2c27c5b8a77a3c5e900b4f9
  head
  upstream/config/00-init/03-db-deployment.yaml
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:main] update konflux configuration
  .github/workflows/update-sources-release-v1.21.x.yaml
Due: none

[bot] Update release-v1.21.x from tektoncd/hub to 196258009a70de34b5a87ee1c5ddc592c5b5f5c9
  head
  upstream/config/00-init/03-db-deployment.yaml
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Add Hub deprecation patch on home page
  .konflux/patches/00-hub-banner.patch
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update release-v1.21.x from tektoncd/hub to 6aa4048b4bfbbc880d88f4f175110e69925f070c
  head
  upstream/config/00-init/03-db-deployment.yaml
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Path conditions:
  tektoncd-hub-main-hub-api-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-api.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-api-pull-request.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-main-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-main-hub-ui-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-next-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-next-hub-ui-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
