Repository openshift-pipelines/tektoncd-hub: changes, and which Tekton pipelines are due for each by the changed paths.
All: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Path conditions:
  tektoncd-hub-main-hub-api-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-api.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-api-pull-request.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-main-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-main-hub-ui-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-next-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-next-hub-ui-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)

Add --ignore-scripts to npm install command
  .konflux/dockerfiles/hub-ui.Dockerfile
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

To get a final images for 1.18 to create a release yaml file
  .konflux/patches/.placeholder
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Fix EC by installing new packages
  .konflux/dockerfiles/hub-ui.Dockerfile
  .konflux/patches/.placeholder
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:main] update konflux configuration
  .tekton/boussole.yaml
Due: none

Fix dockerfile for hub ui
  .konflux/dockerfiles/hub-ui.Dockerfile
  .konflux/rpms/rpms.in.yaml
  .konflux/rpms/rpms.lock.yaml
  .tekton/tektoncd-hub-1-18-hub-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-18-hub-ui-push.yaml
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update main from tektoncd/hub to 9988ecd61410c705175ab28da2aeac2050e2fd73
  head
  upstream/go.mod
  upstream/go.sum
  upstream/swagger/package-lock.json
  upstream/swagger/package.json
  upstream/vendor/gotest.tools/v3/assert/assert.go
  upstream/vendor/gotest.tools/v3/assert/cmp/compare.go
  upstream/vendor/gotest.tools/v3/internal/assert/assert.go
  upstream/vendor/gotest.tools/v3/internal/difflib/difflib.go
  upstream/vendor/gotest.tools/v3/internal/source/bazel.go
  upstream/vendor/gotest.tools/v3/internal/source/source.go
  upstream/vendor/modules.txt
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:release-v1.18.x] update konflux configuration
  .github/workflows/update-sources.yaml
  .konflux/1.18/component-api.yaml
  .konflux/1.18/component-ui.yaml
  .konflux/1.18/image-api.yaml
  .konflux/1.18/image-db-migration.yaml
  .konflux/1.18/image-ui.yaml
  .konflux/1.18/tests.yaml
  .tekton/tektoncd-hub-1-18-api-pull-request.yaml
  .tekton/tektoncd-hub-1-18-api-push.yaml
  .tekton/tektoncd-hub-1-18-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-18-db-migration-push.yaml
  .tekton/tektoncd-hub-1-18-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-18-ui-push.yaml
Due: none

Change the directory
  .konflux/dockerfiles/api.Dockerfile
  .konflux/dockerfiles/ui.Dockerfile
Due: none

Red Hat Konflux update tektoncd-hub-1-18-api Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-hub-1-18-api-pull-request.yaml
  .tekton/tektoncd-hub-1-18-api-push.yaml
Due: none

Red Hat Konflux update tektoncd-hub-1-18-ui Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-hub-1-18-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-18-ui-push.yaml
Due: none

Update .placeholder
  .konflux/patches/.placeholder
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:release-v1.18.x] update konflux configuration
  .konflux/1.18/component-hub-api.yaml
  .konflux/1.18/component-hub-ui.yaml
  .konflux/1.18/image-hub-api.yaml
  .konflux/1.18/image-hub-ui.yaml
  .konflux/1.18/tests.yaml
  .tekton/tektoncd-hub-1-18-hub-api-pull-request.yaml
  .tekton/tektoncd-hub-1-18-hub-api-push.yaml
  .tekton/tektoncd-hub-1-18-hub-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-18-hub-ui-push.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/update-sources.yaml
  .konflux/main/component-api.yaml
  .konflux/main/component-ui.yaml
  .konflux/main/image-api.yaml
  .konflux/main/image-db-migration.yaml
  .konflux/main/image-ui.yaml
  .konflux/main/tests.yaml
  .tekton/tektoncd-hub-main-api-pull-request.yaml
  .tekton/tektoncd-hub-main-api-push.yaml
  .tekton/tektoncd-hub-main-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-main-db-migration-push.yaml
  .tekton/tektoncd-hub-main-ui-pull-request.yaml
  .tekton/tektoncd-hub-main-ui-push.yaml
Due: none

[bot:next] update konflux configuration
  .github/workflows/update-sources.yaml
  .konflux/next/component-api.yaml
  .konflux/next/component-ui.yaml
  .konflux/next/image-api.yaml
  .konflux/next/image-db-migration.yaml
  .konflux/next/image-ui.yaml
  .konflux/next/tests.yaml
  .tekton/tektoncd-hub-next-api-pull-request.yaml
  .tekton/tektoncd-hub-next-api-push.yaml
  .tekton/tektoncd-hub-next-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-next-db-migration-push.yaml
  .tekton/tektoncd-hub-next-ui-pull-request.yaml
  .tekton/tektoncd-hub-next-ui-push.yaml
Due: none

[bot:release-v1.18.x] update konflux configuration
  .konflux/1.18/component-api.yaml
  .konflux/1.18/component-ui.yaml
  .konflux/1.18/image-api.yaml
  .konflux/1.18/image-ui.yaml
  .konflux/1.18/tests.yaml
  .tekton/tektoncd-hub-1-18-api-pull-request.yaml
  .tekton/tektoncd-hub-1-18-api-push.yaml
  .tekton/tektoncd-hub-1-18-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-18-ui-push.yaml
Due: none

Red Hat Konflux update tektoncd-hub-main-api Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-hub-main-api-pull-request.yaml
  .tekton/tektoncd-hub-main-api-push.yaml
Due: none

Red Hat Konflux update tektoncd-hub-main-ui Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-hub-main-ui-pull-request.yaml
  .tekton/tektoncd-hub-main-ui-push.yaml
Due: none

Red Hat Konflux update tektoncd-hub-next-api Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-hub-next-api-pull-request.yaml
  .tekton/tektoncd-hub-next-api-push.yaml
Due: none

Red Hat Konflux update tektoncd-hub-next-ui Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-hub-next-ui-pull-request.yaml
  .tekton/tektoncd-hub-next-ui-push.yaml
Due: none

[next] Fix EC issue
  .konflux/rpms/rpms.in.yaml
  .konflux/rpms/rpms.lock.yaml
  .konflux/rpms/ubi.repo
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[next] update dockerfile to fix build issue for s390x arch
  .konflux/dockerfiles/hub-ui.Dockerfile
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[next] rename dockerfiles name for api and ui
  .konflux/dockerfiles/api.Dockerfile
  .konflux/dockerfiles/ui.Dockerfile
Due: none

[next] fix dockerfile
  .konflux/dockerfiles/api.Dockerfile
  .konflux/dockerfiles/db-migration.Dockerfile
  .konflux/dockerfiles/ui.Dockerfile
Due: none

[bot] Update main from tektoncd/hub to a242af0c5d8123245c687b08022d2ed8b204cc10
  head
  upstream/go.mod
  upstream/go.sum
  upstream/images/api.Dockerfile
  upstream/images/db.Dockerfile
  upstream/swagger/package-lock.json
  upstream/swagger/package.json
  upstream/ui/package-lock.json
  upstream/ui/package.json
  upstream/vendor/github.com/spf13/cobra/README.md
  upstream/vendor/github.com/spf13/cobra/active_help.go
  upstream/vendor/github.com/spf13/cobra/bash_completionsV2.go
  upstream/vendor/github.com/spf13/cobra/cobra.go
  upstream/vendor/github.com/spf13/cobra/command.go
  upstream/vendor/github.com/spf13/cobra/completions.go
  upstream/vendor/github.com/spf13/cobra/powershell_completions.go
  upstream/vendor/github.com/spf13/pflag/.editorconfig
  upstream/vendor/github.com/spf13/pflag/.golangci.yaml
  upstream/vendor/github.com/spf13/pflag/flag.go
  upstream/vendor/github.com/spf13/pflag/ip.go
  upstream/vendor/github.com/spf13/pflag/ipnet_slice.go
  upstream/vendor/github.com/spf13/pflag/string_array.go
  upstream/vendor/gotest.tools/v3/assert/assert.go
  upstream/vendor/gotest.tools/v3/assert/cmp/compare.go
  upstream/vendor/gotest.tools/v3/internal/assert/assert.go
  upstream/vendor/gotest.tools/v3/internal/difflib/difflib.go
  upstream/vendor/gotest.tools/v3/internal/source/bazel.go
  upstream/vendor/gotest.tools/v3/internal/source/source.go
  upstream/vendor/modules.txt
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push
