Repository openshift-pipelines/tektoncd-hub: changes, and which Tekton pipelines are due for each by the changed paths.
All: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-push

.tekton/tektoncd-hub-main-hub-api-pull-request.yaml:

# Generated by openshift-pipelines/hack. DO NOT EDIT.
apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  annotations:
    build.appstudio.openshift.io/repo: https://github.com/openshift-pipelines/tektoncd-hub?rev={{revision}}
    build.appstudio.redhat.com/commit_sha: '{{revision}}'
    build.appstudio.redhat.com/pull_request_number: '{{pull_request_number}}'
    build.appstudio.redhat.com/target_branch: '{{target_branch}}'
    pipelinesascode.tekton.dev/max-keep-runs: "3"
    pipelinesascode.tekton.dev/on-cel-expression: event == "pull_request" && target_branch
      == "main" &&
      ("upstream/***".pathChanged() || "openshift/patches/***".pathChanged() || "openshift/rpms/***".pathChanged() ||
      "openshift/dockerfiles/hub-api.Dockerfile".pathChanged() ||
      ".tekton/tektoncd-hub-main-hub-api-pull-request.yaml".pathChanged() ||
      ".tekton/docker-build.yaml".pathChanged())
  creationTimestamp: null
  labels:
    appstudio.openshift.io/application: tektoncd-hub-main
    appstudio.openshift.io/component: tektoncd-hub-main-hub-api
    pipelines.appstudio.openshift.io/type: build
  name: tektoncd-hub-main-hub-api-on-pull-request
  namespace: tekton-ecosystem-tenant
spec:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-main/hub-api:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: openshift/dockerfiles/hub-api.Dockerfile
  - name: build-source-image
    value: "true"
  - name: hermetic
    value: "true"
  - name: prefetch-input
    value: |
      {"type": "rpm", "path": "openshift/rpms"}
  pipelineRef:
    name: docker-build
  workspaces:
  - name: workspace
    volumeClaimTemplate:
      metadata:
        creationTimestamp: null
      spec:
        accessModes:
        - ReadWriteOnce
        resources:
          requests:
            storage: 1Gi
      status: {}
  - name: git-auth
    secret:
      secretName: '{{ git_auth_secret }}'
status: {}

.tekton/tektoncd-hub-main-hub-ui-push.yaml:

apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  annotations:
    build.appstudio.openshift.io/repo: https://github.com/openshift-pipelines/tektoncd-hub?rev={{revision}}
    build.appstudio.redhat.com/commit_sha: '{{revision}}'
    build.appstudio.redhat.com/target_branch: '{{target_branch}}'
    pipelinesascode.tekton.dev/max-keep-runs: "3"
    pipelinesascode.tekton.dev/on-cel-expression: event == "push" && target_branch
      == "main" &&
      ("upstream/***".pathChanged() || "openshift/***".pathChanged() ||
      ".tekton/hub-ui-pull-request.yaml".pathChanged() ||
      ".tekton/hub-ui-push.yaml".pathChanged() ||
      ".tekton/docker-build.yaml".pathChanged())
  creationTimestamp: null
  labels:
    appstudio.openshift.io/application: tektoncd-hub-main
    appstudio.openshift.io/component: tektoncd-hub-main-hub-ui
    pipelines.appstudio.openshift.io/type: build
  name: tektoncd-hub-main-hub-ui-on-push
  namespace: tekton-ecosystem-tenant
spec:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-main/hub-ui:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/hub-ui.Dockerfile
  - name: build-source-image
    value: "true"
  - name: hermetic
    value: "true"
  - name: prefetch-input
    value: |
      {"type": "npm", "path": "upstream/ui"}
  pipelineRef:
    name: docker-build
  workspaces:
  - name: workspace
    volumeClaimTemplate:
      metadata:
        creationTimestamp: null
      spec:
        accessModes:
        - ReadWriteOnce
        resources:
          requests:
            storage: 1Gi
      status: {}
  - name: git-auth
    secret:
      secretName: '{{ git_auth_secret }}'
status: {}

[bot] Update from tektoncd/hub to 042acfbdca16974a90979303003b91ad812979b1
  head
  upstream/swagger/package-lock.json
  upstream/swagger/package.json
  upstream/ui/package-lock.json
  upstream/ui/package.json
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-push

[bot] update konflux configuration
  .github/workflows/update-sources.main.yaml
  .konflux/main/application.yaml
  .konflux/main/component-db-migration.yaml
  .konflux/main/component-hub-api.yaml
  .konflux/main/component-hub-ui.yaml
  .konflux/main/image-db-migration.yaml
  .konflux/main/image-hub-api.yaml
  .konflux/main/image-hub-ui.yaml
  .konflux/main/tests.yaml
  .tekton/tektoncd-hub-main-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-main-db-migration-push.yaml
  .tekton/tektoncd-hub-main-hub-api-pull-request.yaml
  .tekton/tektoncd-hub-main-hub-api-push.yaml
  .tekton/tektoncd-hub-main-hub-ui-pull-request.yaml
  .tekton/tektoncd-hub-main-hub-ui-push.yaml
Due: tektoncd-hub-main-hub-api-on-pull-request

[bot] update konflux configuration
  .github/workflows/auto-merge.main.yaml
Due: none

Update rpms for multi platform
  openshift/rpms/rpms.in.yaml
  openshift/rpms/rpms.lock.yaml
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-push

[bot] update konflux configuration
  .tekton/docker-build-ta.yaml
  .tekton/tektoncd-hub-main-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-main-db-migration-push.yaml
  .tekton/tektoncd-hub-main-hub-api-pull-request.yaml
  .tekton/tektoncd-hub-main-hub-api-push.yaml
  .tekton/tektoncd-hub-main-hub-ui-pull-request.yaml
  .tekton/tektoncd-hub-main-hub-ui-push.yaml
Due: tektoncd-hub-main-hub-api-on-pull-request

[bot] Update from tektoncd/hub to 16abec3de4685b00902c85d5ad6fd35764b75e6c
  head
  upstream/swagger/package-lock.json
  upstream/swagger/package.json
  upstream/ui/package-lock.json
  upstream/ui/package.json
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-push

Update permission for UI folder
  openshift/dockerfiles/hub-ui.Dockerfile
Due: tektoncd-hub-main-hub-ui-on-push

Update hub-ui.Dockerfile
  openshift/dockerfiles/hub-ui.Dockerfile
Due: tektoncd-hub-main-hub-ui-on-push

[bot] Update from tektoncd/hub to 014e6e050bd7b294176106c30eb91c799fab3256
  head
  upstream/swagger/package-lock.json
  upstream/swagger/package.json
  upstream/ui/package-lock.json
  upstream/ui/package.json
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-push

Update permission issue for UI folder
  openshift/dockerfiles/hub-ui.Dockerfile
Due: tektoncd-hub-main-hub-ui-on-push

[bot] Update from tektoncd/hub to abd0be7366dc68cf5a452a6ad12f2dd09f24d1bf
  head
  upstream/swagger/package-lock.json
  upstream/swagger/package.json
  upstream/ui/package-lock.json
  upstream/ui/package.json
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-push

[bot] Update from tektoncd/hub to e14bef79b1f41e0a9238f98ab8193792ba2bea31
  head
  upstream/swagger/package-lock.json
  upstream/swagger/package.json
  upstream/ui/package-lock.json
  upstream/ui/package.json
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-push

[bot] Update from tektoncd/hub to 2bd102c2fb1bf505d8478d7b341317066e0d5d53
  head
  upstream/go.mod
  upstream/go.sum
  upstream/swagger/package-lock.json
  upstream/swagger/package.json
  upstream/ui/package-lock.json
  upstream/ui/package.json
  upstream/vendor/github.com/fatih/color/README.md
  upstream/vendor/github.com/fatih/color/color.go
  upstream/vendor/modules.txt
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-push

check failure for UI build for arm64 platform
  .konflux/main/tests.yaml
  .tekton/docker-build-ta.yaml
  .tekton/tektoncd-hub-main-hub-ui-push.yaml
Due: none

[bot] Update from tektoncd/hub to 9376621c3429d26ff2d5635223ff4fc86e8e70e9
  head
  upstream/go.sum
  upstream/swagger/package-lock.json
  upstream/swagger/package.json
  upstream/ui/package-lock.json
  upstream/ui/package.json
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-push

[bot] Update from tektoncd/hub to 91217f58339c6cc9b67c2c4a41c26ad2b58c3736
  head
  upstream/ui/package-lock.json
  upstream/ui/package.json
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-push

[bot] update konflux configuration
  .konflux/main/component-db-migration.yaml
  .konflux/main/component-hub-api.yaml
  .konflux/main/component-hub-ui.yaml
  .tekton/tektoncd-hub-main-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-main-db-migration-push.yaml
  .tekton/tektoncd-hub-main-hub-api-pull-request.yaml
  .tekton/tektoncd-hub-main-hub-api-push.yaml
  .tekton/tektoncd-hub-main-hub-ui-pull-request.yaml
  .tekton/tektoncd-hub-main-hub-ui-push.yaml
Due: tektoncd-hub-main-hub-api-on-pull-request

remove openshift, move dockerfile and rpms to .konflux
  .konflux/dockerfiles/.placeholder
  .konflux/dockerfiles/db-migration.Dockerfile
  .konflux/dockerfiles/hub-api.Dockerfile
  .konflux/dockerfiles/hub-ui.Dockerfile
  .konflux/patches/.placeholder
  .konflux/rpms/rpms.in.yaml
  .konflux/rpms/rpms.lock.yaml
  .konflux/rpms/ubi.repo
  openshift/README.md
Due: tektoncd-hub-main-hub-ui-on-push

[bot] update konflux configuration
  .github/workflows/update-sources.main.yaml
Due: none

[bot] update konflux configuration
  .konflux/main/component-db-migration.yaml
  .konflux/main/component-hub-api.yaml
  .konflux/main/component-hub-ui.yaml
Due: none
