Repository openshift-pipelines/tektoncd-hub: changes, and which Tekton pipelines are due for each by the changed paths.
All: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Path conditions:
  tektoncd-hub-main-hub-api-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-api.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-api-pull-request.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-main-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-main-hub-ui-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-next-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-next-hub-ui-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)

Update ui.Dockerfile
  .konflux/dockerfiles/ui.Dockerfile
Due: none

[bot] Update main from tektoncd/hub to 1315a9828adb2695f4671e0cac3088b171fe2cdb
  head
  upstream/api/cmd/api/http.go
  upstream/api/test/e2e/info/info_test.go
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

fix compiling tags for api.Dockerfile
  .konflux/dockerfiles/api.Dockerfile
Due: none

fix compiling tags for db-migration.Dockerfile
  .konflux/dockerfiles/db-migration.Dockerfile
Due: none

[bot] Update main from tektoncd/hub to dae17a048477f8caf25a68eb3255f5492cb017b8
  head
  upstream/swagger/package-lock.json
  upstream/ui/package-lock.json
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:release-v1.21.x] update konflux configuration
  .tekton/tektoncd-hub-1-21-api-pull-request.yaml
  .tekton/tektoncd-hub-1-21-api-push.yaml
  .tekton/tektoncd-hub-1-21-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-21-db-migration-push.yaml
  .tekton/tektoncd-hub-1-21-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-21-ui-push.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/auto-merge-upstream-release-v1.21.x.yaml
  .github/workflows/update-sources-release-v1.21.x.yaml
Due: none

[bot:release-v1.20.x] update konflux configuration
  .tekton/tektoncd-hub-1-20-api-pull-request.yaml
  .tekton/tektoncd-hub-1-20-api-push.yaml
  .tekton/tektoncd-hub-1-20-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-20-db-migration-push.yaml
  .tekton/tektoncd-hub-1-20-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-20-ui-push.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/auto-merge-upstream-release-v1.20.x.yaml
  .github/workflows/update-sources-release-v1.20.x.yaml
Due: none

update docker file with 1.20 version
  .konflux/dockerfiles/api.Dockerfile
  .konflux/dockerfiles/db-migration.Dockerfile
  .konflux/dockerfiles/ui.Dockerfile
Due: none

remove next dir
  .konflux/next/application.yaml
  .konflux/next/component-api.yaml
  .konflux/next/component-db-migration.yaml
  .konflux/next/component-ui.yaml
  .konflux/next/image-api.yaml
  .konflux/next/image-db-migration.yaml
  .konflux/next/image-ui.yaml
  .konflux/next/tests.yaml
Due: none

Update gobuilder version to 1.24
  .konflux/dockerfiles/api.Dockerfile
  .konflux/dockerfiles/db-migration.Dockerfile
Due: none

removing next files
  .tekton/tektoncd-hub-next-api-pull-request.yaml
  .tekton/tektoncd-hub-next-api-push.yaml
  .tekton/tektoncd-hub-next-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-next-db-migration-push.yaml
  .tekton/tektoncd-hub-next-ui-pull-request.yaml
  .tekton/tektoncd-hub-next-ui-push.yaml
Due: none

[bot] Update main from tektoncd/hub to a756650ff9faef5a9d258d7d9670bb8bc1448429
  head
  upstream/README.md
  upstream/ui/src/containers/App/__snapshots__/App.test.tsx.snap
  upstream/ui/src/containers/Header/__snapshots__/Header.test.tsx.snap
  upstream/ui/src/containers/Header/index.tsx
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:main] update konflux configuration
  .github/workflows/update-sources-release-v1.20.x.yaml
Due: none

Update ubi SHA
  .konflux/dockerfiles/api.Dockerfile
  .konflux/dockerfiles/db-migration.Dockerfile
  .konflux/dockerfiles/ui.Dockerfile
Due: none

Update rpm
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

Update .placeholder
  .konflux/patches/.placeholder
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update main from tektoncd/hub to aa2ef30c59ab772edfd6d9578a4877bf25d9ed88
  head
  upstream/go.mod
  upstream/go.sum
  upstream/ui/package-lock.json
  upstream/vendor/github.com/go-viper/mapstructure/v2/.editorconfig
  upstream/vendor/github.com/go-viper/mapstructure/v2/.golangci.yaml
  upstream/vendor/github.com/go-viper/mapstructure/v2/README.md
  upstream/vendor/github.com/go-viper/mapstructure/v2/decode_hooks.go
  upstream/vendor/github.com/go-viper/mapstructure/v2/errors.go
  upstream/vendor/github.com/go-viper/mapstructure/v2/flake.lock
  upstream/vendor/github.com/go-viper/mapstructure/v2/flake.nix
  upstream/vendor/github.com/go-viper/mapstructure/v2/mapstructure.go
  upstream/vendor/modules.txt
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:main] update konflux configuration
  .github/workflows/update-sources-next.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-hub-1-20-ui
  .tekton/tektoncd-hub-1-20-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-20-ui-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-hub-1-20-api
  .tekton/tektoncd-hub-1-20-api-pull-request.yaml
  .tekton/tektoncd-hub-1-20-api-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-hub-1-20-db-migration
  .tekton/tektoncd-hub-1-20-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-20-db-migration-push.yaml
Due: none

update ubi base image
  .konflux/dockerfiles/api.Dockerfile
  .konflux/dockerfiles/db-migration.Dockerfile
  .konflux/dockerfiles/ui.Dockerfile
Due: none

update rpms lock file
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push
