Repository openshift-pipelines/tektoncd-hub: changes, and which Tekton pipelines are due for each by the changed paths.
All: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

tektoncd-hub-main-hub-api-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-main/hub-api:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-hub-main-hub-ui-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-main/hub-ui:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-hub-main-hub-ui-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-main/hub-ui:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/hub-ui.Dockerfile
  ...

tektoncd-hub-next-hub-ui-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-next/hub-ui:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tektoncd-hub-next-hub-ui-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-hub-next/hub-ui:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/hub-ui.Dockerfile
  ...

Add placeholder file for force rebuild
  .konflux/dockerfiles/.placeholder
Due: none

add GOTOOLCHAIN=local to dockerfile
  .konflux/dockerfiles/api.Dockerfile
  .konflux/dockerfiles/db-migration.Dockerfile
Due: none

One Click Release: build all konflux components
  .konflux/patches/.placeholder
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update release-v1.23.x from openshift-pipelines/hub:release-v1.24.1 to a84deebc8e7e490af8f3c2346a15cbf266c23499
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update release-v1.21.x from openshift-pipelines/hub:release-v1.23.12 to f7d1f0b9f25b1c9b51d35944903722a671f3338a
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update release-v1.22.x from openshift-pipelines/hub:release-v1.23.12 to f7d1f0b9f25b1c9b51d35944903722a671f3338a
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update nightly from openshift-pipelines/hub:main to ca94f98c21d9f2e74d5dcd04f0eaf18ce7e60888
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot] Update next from openshift-pipelines/hub:release-v1.24.1 to a84deebc8e7e490af8f3c2346a15cbf266c23499
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/swagger/package-lock.json
  upstream/ui/package-lock.json
Due: tektoncd-hub-main-hub-api-on-pull-request, tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-main-hub-ui-on-push, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:main] update konflux configuration
  .github/workflows/slack-notify-on-failure.yaml
Due: none

[bot:release-v1.23.x] update konflux configuration
  .konflux/dockerfiles/api.Dockerfile
  .konflux/dockerfiles/db-migration.Dockerfile
  .konflux/dockerfiles/ui.Dockerfile
  .tekton/tektoncd-hub-1-23-api-pull-request.yaml
  .tekton/tektoncd-hub-1-23-api-push.yaml
  .tekton/tektoncd-hub-1-23-db-migration-pull-request.yaml
  .tekton/tektoncd-hub-1-23-db-migration-push.yaml
  .tekton/tektoncd-hub-1-23-ui-pull-request.yaml
  .tekton/tektoncd-hub-1-23-ui-push.yaml
Due: none

rebuild: trigger image rebuild 2026-07-21T08:09:23Z
  .konflux/patches/.placeholder
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

update dockerfile base image sha
  .konflux/dockerfiles/ui.Dockerfile
Due: none

[bot:release-v1.15.x] update konflux configuration
  .konflux/dockerfiles/api.Dockerfile
  .konflux/dockerfiles/db-migration.Dockerfile
  .konflux/dockerfiles/ui.Dockerfile
Due: none

[bot:nightly] update konflux configuration
  .konflux/dockerfiles/api.Dockerfile
  .konflux/dockerfiles/db-migration.Dockerfile
  .konflux/dockerfiles/ui.Dockerfile
Due: none

[bot:next] update konflux configuration
  .konflux/dockerfiles/api.Dockerfile
  .konflux/dockerfiles/db-migration.Dockerfile
  .konflux/dockerfiles/ui.Dockerfile
Due: none

rebuild: trigger image rebuild 2026-07-22T13:38:42Z
  .konflux/patches/.placeholder
Due: tektoncd-hub-main-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-pull-request, tektoncd-hub-next-hub-ui-on-push

[bot:release-v1.23.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

Path conditions:
  tektoncd-hub-main-hub-api-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-api.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-api-pull-request.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-main-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-main-hub-ui-on-push: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-main-hub-ui-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-hub-next-hub-ui-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-hub-next-hub-ui-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/hub-ui.Dockerfile)) or (any of: .tekton/tektoncd-hub-next-hub-ui-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
